<!-- Filename: templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>AniList Stat Cards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index_styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='favicon.png') }}" alt="Site Icon" style="height: 64px; width: 64px;">
            <h1>ASC - AniList Stat Cards</h1>
        </a>
        <p>Version: v1.0</p>
    </header>
    <div class="center-container">
        <h1>AniList Stat Cards</h1>
        <p>This application fetches user data from AniList and displays it in a visually appealing format. Enter a username below to get started.</p>
        <input type="text" id="usernameInput" placeholder="Enter username">
        
        <!-- Checkboxes for selecting data -->
        <form id="dataForm" action="/username/generate_svgs" method="post">
            <div id="formLabelWrapper">
                <label id="formLabel">Stat Card Types</label>
                <div id="selectAll" onclick="selectAllCheckboxes()">
                    <span>Select All</span>
                </div>
            </div>
            <div>
                <label>
                    <input type="checkbox" id="animeStats" name="keys" value="animeStats">
                    <span>Anime Stats (Count, Episodes Watched, Minutes Watched, Mean Score, Standard Deviation)</span>
                </label>
                <label>
                    <input type="checkbox" id="socialStats" name="keys" value="socialStats">
                    <span>Social Stats (Total Activities (30 Days), Followers, Following, Thread Posts/Comments, Reviews)</span>
                </label>
                <label>
                    <input type="checkbox" id="mangaStats" name="keys" value="mangaStats">
                    <span>Manga Stats (Count, Chapters Read, Volumes Read, Mean Score, Standard Deviation)</span>
                </label>
                <label>
                    <input type="checkbox" id="animeGenres" name="keys" value="animeGenres">
                    <span>Anime Genres (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="animeTags" name="keys" value="animeTags">
                    <span>Anime Tags (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="animeVoiceActors" name="keys" value="animeVoiceActors">
                    <span>Anime Voice Actors (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="animeStudios" name="keys" value="animeStudios">
                    <span>Anime Studios (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="animeStaff" name="keys" value="animeStaff">
                    <span>Anime Staff (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="mangaGenres" name="keys" value="mangaGenres">
                    <span>Manga Genres (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="mangaTags" name="keys" value="mangaTags">
                    <span>Manga Tags (Top 5 Count)</span>
                </label>
                <label>
                    <input type="checkbox" id="mangaStaff" name="keys" value="mangaStaff">
                    <span>Manga Staff (Top 5 Count)</span>
                </label>
            </div>
            <input type="submit" value="Generate SVGs" style="display: none;"> <!-- Hide the original submit button -->
        </form>

        <button onclick="validateForm()">Generate/ReGenerate Stat Cards</button>
    </div>

    <script src="{{ url_for('static', filename='scripts/fetchUserData.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validateForm.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/selectAll.js') }}"></script>
</body>
</html>