<!-- Filename: templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>AniList Stat Cards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>AniList Stat Cards</h1>
        <p>This application fetches user data from AniList and displays it in a visually appealing format. Enter a username below to get started.</p>
        <input type="text" id="usernameInput" placeholder="Enter username">
        <button onclick="fetchUserData()">Generate Stat Cards</button>
        <div id="svgContainer"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts/fetchUserData.js') }}"></script>
</body>
</html>