<!-- Filename: templates/index.html -->

<!-- Filename: templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>AniList Stat Cards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>AniList Stat Cards</h1>
        <p>This application fetches user data from AniList and displays it in a visually appealing format. Enter a username below to get started.</p>
        <input type="text" id="usernameInput" placeholder="Enter username">
        
        <!-- Checkboxes for selecting data -->
        <form id="dataForm" action="/username/generate_svgs" method="post">
            <label id="formLabel">Stat Card Types</label>
            <div>
                <label>
                    <input type="checkbox" id="animeStats" name="keys" value="animeStats">
                    <span>Anime Stats (count, episodes watched, minutes watched, mean score, standard deviation)</span>
                </label>
                <label>
                    <input type="checkbox" id="mangaStats" name="keys" value="mangaStats">
                    <span>Manga Stats (count, chapters read, volumes read, mean score, standard deviation)</span>
                </label>
                <label>
                    <input type="checkbox" id="socialStats" name="keys" value="socialStats">
                    <span>Social Stats (Total Activities, Followers, and Following)</span>
                </label>
            </div>
            <input type="submit" value="Generate SVGs" style="display: none;"> <!-- Hide the original submit button -->
        </form>

        <button onclick="fetchUserData()">Generate Stat Cards</button>
        <div id="svgContainer"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts/fetchUserData.js') }}"></script>
</body>
</html>