# Hand-maintained public API contract. Update this file in the same PR as any
# public route, request/response, header, alias, or privacy-surface change.
# Validate it against the current route behavior and relevant tests.
openapi: "3.2.0"
jsonSchemaDialect: "https://spec.openapis.org/oas/3.1/dialect/base"
info:
  title: "AniCards Public API"
  version: "1.0.0"
  description: >-
    Hand-maintained OpenAPI 3.2.0 specification for the live AniCards Next.js
    route handlers, validated against the current codebase behavior and tests.
    Storage-related routes persist AniList-derived user snapshots and card
    editor configuration in Upstash Redis; the repository's current privacy
    posture, telemetry consent model, and retention caveats are documented in
    `docs/PRIVACY.md`.
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
  contact:
    name: "Alpha49 (AniCards)"
    url: "https://api.anicards.alpha49.com"
    email: "contact@alpha49.com"
servers:
  - url: "https://api.anicards.alpha49.com"
    description: "Production public API host"
security: []
tags:
  - name: "anilist"
    description: "Proxy access to AniList GraphQL"
  - name: "card"
    description: "SVG and PNG card endpoints, aliases, and legacy compatibility notices"
  - name: "cards"
    description: "Stored card configuration retrieval"
  - name: "convert"
    description: "SVG-to-raster conversion"
  - name: "cron"
    description: "Background refresh and analytics jobs"
  - name: "store"
    description: "Storage endpoints for users and card configurations"
  - name: "telemetry"
    description: "Structured client error-report ingestion"
  - name: "user"
    description: "Stored user lookup by ID or username"
paths:
  /api/anilist:
    post:
      operationId: "proxyAniList"
      tags:
        - "anilist"
      summary: "Proxy approved AniList GraphQL operations"
      description: >-
        Accepts only the built-in AniCards AniList operations `GetUserId` and
        `GetUserStats`, forwards the canonical server-side GraphQL document for
        the selected operation, and returns the upstream `data` payload
        unwrapped. Supplying `operation` is the preferred contract. Deprecated
        query-text compatibility remains available only for the server-approved
        documents and rejects arbitrary custom GraphQL operations with `400`.
        JSON request bodies larger than `32768` bytes are rejected with `413`,
        while malformed JSON bodies return `400`. In production this route also
        enforces verified-client-IP,
        request-proof, same-origin, and shared rate-limit guards.
      parameters:
        - in: header
          name: X-Test-Status
          required: false
          schema:
            type: string
            enum:
              - "429"
              - "500"
          description: >-
            Development-only header used by the route tests to simulate 429 and
            500 responses.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AniListRequest"
            examples:
              getUserIdByOperation:
                value:
                  operation: "GetUserId"
                  variables:
                    userName: "sampleuser"
              getUserStatsByOperation:
                value:
                  operation: "GetUserStats"
                  variables:
                    userId: 12345
              getUserIdByCompatibilityQuery:
                value:
                  query: |-
                    query GetUserId($userName: String) {
                      User(name: $userName) {
                        id
                      }
                    }
                  variables:
                    userName: "sampleuser"
      responses:
        "200":
          description: >-
            Unwrapped AniList GraphQL `data` payload for the approved
            `GetUserId` or `GetUserStats` operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphQLData"
              examples:
                getUserId:
                  value:
                    User:
                      id: 12345
                getUserStats:
                  value:
                    User:
                      id: 12345
                      name: "sampleuser"
        "400":
          description: >-
            Malformed JSON body, unsupported operation/query document, invalid
            AniList identifier, or a propagated AniList `400` response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalidJson:
                  value:
                    error: "Invalid JSON body"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                unsupportedOperation:
                  value:
                    error: "Unsupported AniList operation"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                invalidUserName:
                  value:
                    error: "Invalid AniList username"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                invalidUserId:
                  value:
                    error: "Invalid AniList userId"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                upstreamRejected:
                  value:
                    error: "HTTP error! status: 400 - Invalid query"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "413":
          description: "JSON request body exceeded the 32768-byte AniList proxy limit"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                bodyTooLarge:
                  value:
                    error: "Request body too large"
                    category: "invalid_data"
                    retryable: false
                    status: 413
                    recoverySuggestions: []
                    maxBytes: 32768
        "401":
          $ref: "#/components/responses/UnauthorizedJson"
        "429":
          description: "Local or upstream rate limit exceeded"
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
            X-RateLimit-Limit:
              $ref: "#/components/headers/RateLimitLimit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/RateLimitRemaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/RateLimitReset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                simulated:
                  value:
                    error: "Rate limited (test simulation)"
                    category: "rate_limited"
                    retryable: true
                    status: 429
                    recoverySuggestions: []
                upstream:
                  value:
                    error: "HTTP error! status: 429 - Too Many Requests (Retry-After: 60)"
                    category: "rate_limited"
                    retryable: true
                    status: 429
                    recoverySuggestions: []
        "500":
          description: >-
            AniList returned a GraphQL error payload or the route hit an
            internal/server-side failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                simulated:
                  value:
                    error: "Internal server error (test simulation)"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
                graphQlError:
                  value:
                    error: "User not found"
                upstream:
                  value:
                    error: "HTTP error! status: 500 - Internal Server Error"
        "502":
          description: "AniList transport failure before any upstream response was received"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                transportFailure:
                  value:
                    error: "AniList GraphQL request failed: Network error"
                    category: "server_error"
                    retryable: true
                    status: 502
                    recoverySuggestions: []
        "503":
          description: >-
            Missing server-side request-guard configuration, unverifiable
            client IP, or an open AniList upstream circuit breaker.
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missingAppOrigin:
                  value:
                    error: "Server misconfigured"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
                missingRequestProofSecret:
                  value:
                    error: "API_SECRET_TOKEN is not configured"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
                unverifiedClientIp:
                  value:
                    error: "Client IP could not be verified"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
                circuitOpen:
                  value:
                    error: "AniList GraphQL circuit breaker is open (Retry-After: 30)"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
        "504":
          description: "Timed out while waiting for AniList to respond"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                timeout:
                  value:
                    error: "AniList GraphQL request timed out after 5000ms"
                    category: "timeout"
                    retryable: true
                    status: 504
                    recoverySuggestions: []
    options:
      operationId: "preflightAniList"
      tags:
        - "anilist"
      summary: "CORS preflight for AniList proxy requests"
      description: >-
        Returns the CORS headers required for browser clients to POST approved
        AniList operations to this endpoint.
      responses:
        "200":
          $ref: "#/components/responses/JsonPostPreflight"

  /api/card:
    get:
      operationId: "renderCardSvg"
      tags:
        - "card"
      summary: "Render a stat card as SVG"
      description: >-
        Canonical Next.js route handler for AniCards SVG generation. At least one
        of `userId` or canonical `username` must be supplied. The legacy
        `userName` alias remains accepted for backward compatibility. SVG
        renders keep animations enabled unless `animate` is explicitly set to a
        false-like value. Requests with explicit visual overrides (variation,
        preset/colors, border, flags, or grid layout) use the shorter preview
        cache policy, while `_t` bypasses card-cache reads and returns no-store
        headers for that render. Public aliases also exist at `/card.svg` and
        `/api/card.svg`.
      parameters:
        - $ref: "#/components/parameters/CardUserId"
        - $ref: "#/components/parameters/CardUsername"
        - $ref: "#/components/parameters/CardUserNameDeprecated"
        - $ref: "#/components/parameters/CardType"
        - $ref: "#/components/parameters/CardVariation"
        - $ref: "#/components/parameters/CardAnimate"
        - $ref: "#/components/parameters/CardColorPreset"
        - $ref: "#/components/parameters/CardTitleColor"
        - $ref: "#/components/parameters/CardBackgroundColor"
        - $ref: "#/components/parameters/CardTextColor"
        - $ref: "#/components/parameters/CardCircleColor"
        - $ref: "#/components/parameters/CardBorderColor"
        - $ref: "#/components/parameters/CardBorderRadius"
        - $ref: "#/components/parameters/CardShowFavorites"
        - $ref: "#/components/parameters/CardStatusColors"
        - $ref: "#/components/parameters/CardPiePercentages"
        - $ref: "#/components/parameters/CardGridCols"
        - $ref: "#/components/parameters/CardGridRows"
        - $ref: "#/components/parameters/CardCacheBust"
      responses:
        "200":
          $ref: "#/components/responses/CardSvgOk"
        "400":
          $ref: "#/components/responses/CardSvgBadRequest"
        "404":
          $ref: "#/components/responses/CardSvgNotFound"
        "429":
          $ref: "#/components/responses/CardSvgRateLimited"
        "503":
          $ref: "#/components/responses/CardSvgServiceUnavailable"
        "500":
          $ref: "#/components/responses/CardSvgInternalError"
    options:
      operationId: "preflightCardSvg"
      tags:
        - "card"
      summary: "CORS preflight for SVG card rendering"
      description: >-
        Returns the embed CORS headers required for browser and third-party
        clients to fetch card SVGs from the canonical `/api/card` endpoint.
      responses:
        "200":
          $ref: "#/components/responses/CardSvgPreflight"

  /card.svg:
    get:
      operationId: "renderCardSvgAlias"
      tags:
        - "card"
      summary: "Render a stat card as SVG"
      description: >-
        Public pretty-URL alias for `/api/card`. Query parameters, response
        headers, cache behavior, and the deprecated `userName` compatibility
        alias are identical to the canonical handler.
      parameters:
        - $ref: "#/components/parameters/CardUserId"
        - $ref: "#/components/parameters/CardUsername"
        - $ref: "#/components/parameters/CardUserNameDeprecated"
        - $ref: "#/components/parameters/CardType"
        - $ref: "#/components/parameters/CardVariation"
        - $ref: "#/components/parameters/CardAnimate"
        - $ref: "#/components/parameters/CardColorPreset"
        - $ref: "#/components/parameters/CardTitleColor"
        - $ref: "#/components/parameters/CardBackgroundColor"
        - $ref: "#/components/parameters/CardTextColor"
        - $ref: "#/components/parameters/CardCircleColor"
        - $ref: "#/components/parameters/CardBorderColor"
        - $ref: "#/components/parameters/CardBorderRadius"
        - $ref: "#/components/parameters/CardShowFavorites"
        - $ref: "#/components/parameters/CardStatusColors"
        - $ref: "#/components/parameters/CardPiePercentages"
        - $ref: "#/components/parameters/CardGridCols"
        - $ref: "#/components/parameters/CardGridRows"
        - $ref: "#/components/parameters/CardCacheBust"
      responses:
        "200":
          $ref: "#/components/responses/CardSvgOk"
        "400":
          $ref: "#/components/responses/CardSvgBadRequest"
        "404":
          $ref: "#/components/responses/CardSvgNotFound"
        "429":
          $ref: "#/components/responses/CardSvgRateLimited"
        "503":
          $ref: "#/components/responses/CardSvgServiceUnavailable"
        "500":
          $ref: "#/components/responses/CardSvgInternalError"

  /api/card.svg:
    get:
      operationId: "renderCardSvgCompatibilityAlias"
      tags:
        - "card"
      summary: "Render a stat card as SVG"
      description: >-
        Compatibility alias for `/api/card`. Query parameters, response
        headers, cache behavior, and the deprecated `userName` compatibility
        alias are identical to the canonical handler.
      parameters:
        - $ref: "#/components/parameters/CardUserId"
        - $ref: "#/components/parameters/CardUsername"
        - $ref: "#/components/parameters/CardUserNameDeprecated"
        - $ref: "#/components/parameters/CardType"
        - $ref: "#/components/parameters/CardVariation"
        - $ref: "#/components/parameters/CardAnimate"
        - $ref: "#/components/parameters/CardColorPreset"
        - $ref: "#/components/parameters/CardTitleColor"
        - $ref: "#/components/parameters/CardBackgroundColor"
        - $ref: "#/components/parameters/CardTextColor"
        - $ref: "#/components/parameters/CardCircleColor"
        - $ref: "#/components/parameters/CardBorderColor"
        - $ref: "#/components/parameters/CardBorderRadius"
        - $ref: "#/components/parameters/CardShowFavorites"
        - $ref: "#/components/parameters/CardStatusColors"
        - $ref: "#/components/parameters/CardPiePercentages"
        - $ref: "#/components/parameters/CardGridCols"
        - $ref: "#/components/parameters/CardGridRows"
        - $ref: "#/components/parameters/CardCacheBust"
      responses:
        "200":
          $ref: "#/components/responses/CardSvgOk"
        "400":
          $ref: "#/components/responses/CardSvgBadRequest"
        "404":
          $ref: "#/components/responses/CardSvgNotFound"
        "429":
          $ref: "#/components/responses/CardSvgRateLimited"
        "503":
          $ref: "#/components/responses/CardSvgServiceUnavailable"
        "500":
          $ref: "#/components/responses/CardSvgInternalError"

  /card.png:
    get:
      operationId: "renderCardPng"
      tags:
        - "card"
      summary: "Render a stat card as PNG"
      description: >-
        Public raster companion to `/api/card`. It accepts the same query
        surface as the SVG routes, forwards the request through the card SVG
        handler, and converts the result to `image/png`. When `animate` is
        omitted, the route injects `animate=false` before rendering so PNGs
        default to static card markup. Explicit `animate` values are forwarded
        as-is. Successful PNG responses preserve the underlying card-render
        cache headers and `X-Cache-Source`; if rasterization fallback is
        needed, the route still returns PNG with the original status and
        no-store cache headers.
      parameters:
        - $ref: "#/components/parameters/CardUserId"
        - $ref: "#/components/parameters/CardUsername"
        - $ref: "#/components/parameters/CardUserNameDeprecated"
        - $ref: "#/components/parameters/CardType"
        - $ref: "#/components/parameters/CardVariation"
        - $ref: "#/components/parameters/CardAnimate"
        - $ref: "#/components/parameters/CardColorPreset"
        - $ref: "#/components/parameters/CardTitleColor"
        - $ref: "#/components/parameters/CardBackgroundColor"
        - $ref: "#/components/parameters/CardTextColor"
        - $ref: "#/components/parameters/CardCircleColor"
        - $ref: "#/components/parameters/CardBorderColor"
        - $ref: "#/components/parameters/CardBorderRadius"
        - $ref: "#/components/parameters/CardShowFavorites"
        - $ref: "#/components/parameters/CardStatusColors"
        - $ref: "#/components/parameters/CardPiePercentages"
        - $ref: "#/components/parameters/CardGridCols"
        - $ref: "#/components/parameters/CardGridRows"
        - $ref: "#/components/parameters/CardCacheBust"
      responses:
        "200":
          $ref: "#/components/responses/CardPngOk"
        "400":
          $ref: "#/components/responses/CardPngBadRequest"
        "404":
          $ref: "#/components/responses/CardPngNotFound"
        "429":
          $ref: "#/components/responses/CardPngRateLimited"
        "503":
          $ref: "#/components/responses/CardPngServiceUnavailable"
        "500":
          $ref: "#/components/responses/CardPngInternalError"

  /StatCards/{username}/{key}.svg:
    get:
      operationId: "renderLegacyStatCardsNotice"
      tags:
        - "card"
      summary: "Serve the legacy StatCards compatibility notice"
      description: >-
        Legacy compatibility endpoint kept alive for older StatCards embed
        URLs. The `username` and `key` path segments are preserved only so
        historical links continue to resolve; the handler ignores both values
        and returns the same cacheable static SVG notice for every request.
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
            minLength: 1
          description: >-
            Historical AniList username segment preserved for backward
            compatibility only. It does not affect the response body.
        - in: path
          name: key
          required: true
          schema:
            type: string
            minLength: 1
          description: >-
            Historical StatCards key segment preserved for backward
            compatibility only. It does not affect the response body.
      responses:
        "200":
          description: "Cacheable static SVG migration notice"
          headers:
            Cache-Control:
              description: "Browser cache policy for the notice SVG"
              schema:
                type: string
              example: "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=1209600"
            CDN-Cache-Control:
              description: "Shared-cache policy for CDN intermediaries"
              schema:
                type: string
              example: "public, s-maxage=86400, stale-while-revalidate=604800, stale-if-error=1209600"
            Edge-Cache-Control:
              description: "Edge-cache policy exposed by the route"
              schema:
                type: string
              example: "public, s-maxage=86400, stale-while-revalidate=604800, stale-if-error=1209600"
          content:
            image/svg+xml:
              schema:
                type: string
              examples:
                legacyNotice:
                  summary: "Static migration prompt"
                  value: >-
                    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="150"><rect width="100%" height="100%" fill="#0b1622"/><text x="50%" y="25%" dominant-baseline="middle" text-anchor="middle" fill="#3cc8ff" font-size="30" font-family="Segoe UI">AniCards Updated!</text><text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="#E8E8E8" font-size="18" font-family="Segoe UI"><tspan x="50%" dy="0">Go to anicards.alpha49.com</tspan><tspan x="50%" dy="1.2em">to regenerate statcards.</tspan></text></svg>

  /api/get-cards:
    get:
      operationId: "getStoredCards"
      tags:
        - "cards"
      summary: "Retrieve a stored cards record"
      description: >-
        Returns the persisted card configuration for a numeric AniList user ID.
        Read responses preserve already-stored legacy unsupported `cardName`
        values so older embeds remain visible until the next successful
        `/api/store-cards` write.
      parameters:
        - in: query
          name: userId
          required: true
          schema:
            type: integer
            minimum: 1
          description: "Numeric AniList user ID"
      responses:
        "200":
          description: "Stored cards record"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardsRecord"
              examples:
                storedCards:
                  value:
                    userId: 12345
                    updatedAt: "2026-03-21T10:15:00.000Z"
                    globalSettings:
                      colorPreset: "custom"
                      titleColor: "#ffffff"
                      backgroundColor: "#0f172a"
                      textColor: "#e2e8f0"
                      circleColor: "#22d3ee"
                      borderEnabled: true
                      borderColor: "#334155"
                      borderRadius: 12
                    cards:
                      - cardName: "animeStats"
                        variation: "default"
                        useCustomSettings: true
                        titleColor: "#ffffff"
                        backgroundColor: "#0f172a"
                        textColor: "#e2e8f0"
                        circleColor: "#22d3ee"
                      - cardName: "mangaStats"
                        disabled: true
                      - cardName: "legacyUnsupportedCard"
                        disabled: true
        "400":
          description: "Missing or invalid user ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missing:
                  value:
                    error: "Missing user ID parameter"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                invalid:
                  value:
                    error: "Invalid user ID format"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "404":
          description: "No cards stored for that user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                notFound:
                  value:
                    error: "Cards not found"
                    category: "user_not_found"
                    retryable: false
                    status: 404
                    recoverySuggestions: []
        "500":
          description: "Detected stored-record corruption"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                corrupted:
                  value:
                    error: "Stored cards record is incomplete or corrupted"
                    category: "server_error"
                    retryable: false
                    status: 500
                    recoverySuggestions: []
        "503":
          description: "Card storage temporarily unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                unavailable:
                  value:
                    error: "Card data is temporarily unavailable"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
    options:
      operationId: "preflightGetStoredCards"
      tags:
        - "cards"
      summary: "CORS preflight for stored-card lookups"
      description: >-
        Returns the CORS headers required for browser clients to fetch stored
        card configuration records.
      responses:
        "200":
          $ref: "#/components/responses/JsonGetPreflight"

  /api/get-user:
    get:
      operationId: "getStoredUser"
      tags:
        - "user"
      summary: "Retrieve a stored user record"
      description: >-
        Resolves a stored user by numeric `userId` or by normalized `username`.
        When both are provided, `userId` wins. The public response intentionally
        omits internal request metadata such as redacted IP buckets and record
        timestamps.
      parameters:
        - in: query
          name: userId
          required: false
          schema:
            type: integer
            minimum: 1
          description: "Numeric AniList user ID"
        - in: query
          name: username
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 100
          description: >-
            Username lookup key. The server trims and lowercases it before checking
            the username index. Either `userId` or `username` must be supplied.
        - in: query
          name: view
          required: false
          schema:
            type: string
            enum:
              - bootstrap
          description: >-
            Optional lightweight response mode used by the editor bootstrap flow.
            When `view=bootstrap`, the response is reduced to identity fields only.
      responses:
        "200":
          description: "Bounded public user record or lightweight bootstrap identity"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/PublicUserRecord"
                  - $ref: "#/components/schemas/UserBootstrapRecord"
              examples:
                user:
                  value:
                    userId: 12345
                    username: "sampleuser"
                    stats:
                      User:
                        name: "sampleuser"
                    statistics:
                      anime:
                        count: 420
                        episodesWatched: 5200
                        meanScore: 82
                      manga:
                        count: 90
                        chaptersRead: 1800
                        meanScore: 79
                    favourites:
                      anime:
                        nodes:
                          - id: 1
                            title:
                              romaji: "Fullmetal Alchemist: Brotherhood"
                    pages:
                      followersPage:
                        pageInfo:
                          total: 12
                        followers:
                          - id: 999
                bootstrap:
                  value:
                    userId: 12345
                    username: "sampleuser"
                    avatarUrl: "https://example.com/avatar-medium.webp"
        "400":
          description: "Missing or invalid lookup parameters"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missing:
                  value:
                    error: "Missing userId or username parameter"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                badUserId:
                  value:
                    error: "Invalid userId parameter"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                badUsername:
                  value:
                    error: "Invalid username parameter"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "404":
          description: "No stored user matched the lookup"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                notFound:
                  value:
                    error: "User not found"
                    category: "user_not_found"
                    retryable: false
                    status: 404
                    recoverySuggestions: []
        "500":
          description: "Detected stored-record corruption"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                corrupted:
                  value:
                    error: "Stored user record is incomplete or corrupted"
                    category: "server_error"
                    retryable: false
                    status: 500
                    recoverySuggestions: []
        "503":
          description: "User storage temporarily unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                unavailable:
                  value:
                    error: "User data is temporarily unavailable"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
    options:
      operationId: "preflightGetStoredUser"
      tags:
        - "user"
      summary: "CORS preflight for stored-user lookups"
      description: >-
        Returns the CORS headers required for browser clients to fetch stored
        public user records.
      responses:
        "200":
          $ref: "#/components/responses/JsonGetPreflight"

  /api/store-cards:
    post:
      operationId: "storeCards"
      tags:
        - "store"
      summary: "Store or merge a user's card configuration"
      description: >-
        Stores card editor state in Redis using partial-update semantics. This
        is a browser-only mutation route: in production it requires same-origin
        requests, a verified client IP, the shared request-proof cookie, and a
        short-lived per-user protected write grant minted by a trusted AniCards
        read/proxy response for the same user. The current repository does not
        expose a public self-serve deletion or export endpoint for this stored
        server-side data. Reads may still return legacy unsupported card IDs,
        but writes only accept current `CardType` values and strip unsupported
        legacy entries from the merged record before persisting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreCardsRequest"
            examples:
              saveCards:
                value:
                  userId: 12345
                  statsData: {}
                  cardOrder:
                    - "animeStats"
                    - "mangaStats"
                    - "favoritesGrid"
                  globalSettings:
                    colorPreset: "custom"
                    titleColor: "#ffffff"
                    backgroundColor:
                      type: "linear"
                      angle: 90
                      stops:
                        - color: "#0f172a"
                          offset: 0
                        - color: "#1e293b"
                          offset: 100
                    textColor: "#e2e8f0"
                    circleColor: "#22d3ee"
                    borderEnabled: true
                    borderColor: "#334155"
                    borderRadius: 12
                    gridCols: 3
                    gridRows: 2
                  cards:
                    - cardName: "animeStats"
                      variation: "default"
                      useCustomSettings: true
                      titleColor: "#ffffff"
                      backgroundColor: "#0f172a"
                      textColor: "#e2e8f0"
                      circleColor: "#22d3ee"
                    - cardName: "favoritesGrid"
                      variation: "mixed"
                      useCustomSettings: true
                      titleColor: "#ffffff"
                      backgroundColor: "#0f172a"
                      textColor: "#e2e8f0"
                      circleColor: "#38bdf8"
                      gridCols: 3
                      gridRows: 2
      responses:
        "200":
          description: "Card configuration stored successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreCardsSuccess"
              examples:
                stored:
                  value:
                    success: true
                    userId: 12345
                    updatedAt: "2026-03-21T10:15:00.000Z"
        "400":
          description: "Validation failure for the incoming payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalidJson:
                  value:
                    error: "Invalid JSON body"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                invalidUserId:
                  value:
                    error: "Invalid userId"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                invalidData:
                  value:
                    error: "Invalid data"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "401":
          $ref: "#/components/responses/UnauthorizedJson"
        "403":
          description: "Missing, expired, or user-mismatched protected write grant"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                forbidden:
                  value:
                    error: "Forbidden"
                    category: "authentication"
                    retryable: false
                    status: 403
                    recoverySuggestions: []
        "409":
          description: "Optimistic concurrency conflict"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
              examples:
                conflict:
                  value:
                    error: "Conflict: data was updated elsewhere. Please reload and try again."
                    category: "invalid_data"
                    retryable: false
                    status: 409
                    recoverySuggestions: []
                    currentUpdatedAt: "2026-03-21T10:10:00.000Z"
        "429":
          $ref: "#/components/responses/TooManyRequestsJson"
        "503":
          description: "Card storage temporarily unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                unavailable:
                  value:
                    error: "Card storage is temporarily unavailable"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
        "500":
          description: "Unexpected storage failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                failure:
                  value:
                    error: "Card storage failed"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
    options:
      operationId: "preflightStoreCards"
      tags:
        - "store"
      summary: "CORS preflight for card configuration writes"
      description: >-
        Returns the CORS headers required for browser clients to POST stored
        card configuration updates.
      responses:
        "200":
          $ref: "#/components/responses/JsonPostPreflight"

  /api/store-users:
    post:
      operationId: "storeUser"
      tags:
        - "store"
      summary: "Store or update a user's AniCards record"
      description: >-
        Persists a versioned split user record, atomically flips the active
        commit pointer, maintains the normalized username alias and stale-user
        refresh index, and optionally enforces optimistic concurrency via
        `ifMatchUpdatedAt`. This is a browser-only mutation route: in
        production it requires same-origin requests, a verified client IP, the
        shared request-proof cookie, and a short-lived per-user protected write
        grant minted by `/api/anilist` `GetUserStats` or `/api/get-user` for
        the same user. The server only persists the bound AniList snapshot for
        that subject and does not treat the client-supplied username as
        authoritative. Public reads later return a bounded DTO that excludes
        request metadata such as redacted IP buckets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreUserRequest"
            examples:
              storeUser:
                value:
                  userId: 12345
                  username: "sampleuser"
                  ifMatchUpdatedAt: "2026-03-21T10:15:00.000Z"
                  stats:
                    User:
                      name: "sampleuser"
                      stats:
                        activityHistory: []
                      favourites:
                        anime:
                          nodes: []
                        manga:
                          nodes: []
                        characters:
                          nodes: []
                        staff:
                          nodes: []
                        studios:
                          nodes: []
                      statistics:
                        anime:
                          count: 420
                          episodesWatched: 5200
                          minutesWatched: 156000
                          meanScore: 82
                          standardDeviation: 12
                          genres: []
                          tags: []
                          voiceActors: []
                          studios: []
                          staff: []
                        manga:
                          count: 90
                          chaptersRead: 1800
                          volumesRead: 260
                          meanScore: 79
                          standardDeviation: 9
                          genres: []
                          tags: []
                          staff: []
                    followersPage:
                      pageInfo:
                        total: 12
                      followers: []
                    followingPage:
                      pageInfo:
                        total: 8
                      following: []
                    threadsPage:
                      pageInfo:
                        total: 3
                      threads: []
                    threadCommentsPage:
                      pageInfo:
                        total: 7
                      threadComments: []
                    reviewsPage:
                      pageInfo:
                        total: 1
                      reviews: []
      responses:
        "200":
          description: "User record stored successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreUserSuccess"
              examples:
                stored:
                  value:
                    success: true
                    userId: 12345
                    updatedAt: "2026-03-21T10:16:00.000Z"
        "400":
          description: "Validation failure for the incoming payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalid:
                  value:
                    error: "Invalid data"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "401":
          $ref: "#/components/responses/UnauthorizedJson"
        "403":
          description: "Missing, expired, mismatched, or stale protected write grant"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                forbidden:
                  value:
                    error: "Forbidden"
                    category: "authentication"
                    retryable: false
                    status: 403
                    recoverySuggestions: []
        "409":
          description: "Optimistic concurrency or canonical username ownership conflict"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ConflictError"
                  - $ref: "#/components/schemas/ApiError"
              examples:
                conflict:
                  value:
                    error: "Conflict: data was updated elsewhere. Please reload and try again."
                    category: "invalid_data"
                    retryable: false
                    status: 409
                    recoverySuggestions: []
                    currentUpdatedAt: "2026-03-21T10:15:00.000Z"
                usernameConflict:
                  value:
                    error: "Conflict: username is already bound to another stored user."
                    category: "invalid_data"
                    retryable: false
                    status: 409
                    recoverySuggestions: []
        "429":
          $ref: "#/components/responses/TooManyRequestsJson"
        "503":
          description: "User storage temporarily unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                unavailable:
                  value:
                    error: "User storage is temporarily unavailable"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
        "500":
          description: "Unexpected storage failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                failure:
                  value:
                    error: "User storage failed"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
    options:
      operationId: "preflightStoreUser"
      tags:
        - "store"
      summary: "CORS preflight for user record writes"
      description: >-
        Returns the CORS headers required for browser clients to POST stored
        user record updates.
      responses:
        "200":
          $ref: "#/components/responses/JsonPostPreflight"

  /api/error-reports:
    post:
      operationId: "reportClientError"
      tags:
        - "telemetry"
      summary: "Record a structured client error report"
      description: >-
        Validates and durably records privacy-safe structured client error
        reports before returning success. In production this route enforces
        same-origin validation, a verified client IP, the shared request-proof
        cookie, and a dedicated `3 requests / 10 s` limiter. The server
        sanitizes the payload, ignores client-supplied `userId` and
        `username`, preserves valid client incident `id` and `timestamp`
        values, and drops unsupported nested metadata values before
        persistence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorReportRequest"
            examples:
              reactBoundary:
                value:
                  id: "rep-client-incident-12345"
                  timestamp: 1776057600000
                  source: "react_error_boundary"
                  userAction: "render_component_tree"
                  message: "Failed to fetch user Alex profile"
                  category: "network_error"
                  retryable: true
                  recoverySuggestions:
                    - title: "Retry the request"
                      description: "Wait for the network to recover, then try loading the profile again."
                      actionLabel: "Retry"
                  route: "/user/Alex?tab=cards"
                  requestId: "req-error-route-12345"
                  errorName: "TypeError"
                  metadata:
                    boundary: "client_error_boundary"
                    tab: "cards"
                    retried: false
              analyticsInstrumentation:
                value:
                  id: "rep-analytics-incident-12345"
                  timestamp: 1776057602500
                  source: "analytics_instrumentation"
                  userAction: "analytics_pageview_dispatch"
                  message: "Failed to fetch analytics beacon"
                  category: "network_error"
                  retryable: true
                  requestId: "req-analytics-route-12345"
                  errorName: "TypeError"
                  metadata:
                    analyticsFailureBucket: "network"
                    analyticsFailureCount: 3
                    analyticsSuppressedDuplicates: 1
                    pagePath: "/user/[username]?filter=[redacted]"
      responses:
        "200":
          description: "Structured error report durably recorded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorReportRecorded"
              examples:
                recorded:
                  value:
                    recorded: true
        "400":
          description: "Malformed JSON body or invalid required fields"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalidJson:
                  value:
                    error: "Invalid JSON body"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
                invalidPayload:
                  value:
                    error: "Invalid error report payload"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "401":
          $ref: "#/components/responses/UnauthorizedJson"
        "429":
          $ref: "#/components/responses/TooManyRequestsJson"
        "500":
          description: "Unexpected structured error ingestion failure before durable recording"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                failure:
                  value:
                    error: "Failed to record error report"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
        "503":
          description: >-
            Temporary availability failure or required security configuration
            issue before durable recording
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                unavailable:
                  value:
                    error: "Structured error reporting is temporarily unavailable"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
                misconfigured:
                  value:
                    error: "Server misconfigured"
                    category: "server_error"
                    retryable: true
                    status: 503
                    recoverySuggestions: []
    options:
      operationId: "preflightErrorReports"
      tags:
        - "telemetry"
      summary: "CORS preflight for structured error reporting"
      description: >-
        Returns the CORS headers required for browser clients to POST
        structured error reports, including support for `X-Request-Id`.
      responses:
        "200":
          $ref: "#/components/responses/ErrorReportsPreflight"

  /api/convert:
    post:
      operationId: "convertSvg"
      tags:
        - "convert"
      summary: "Fetch an allowed SVG and convert it to PNG or WebP"
      description: >-
        Accepts either an allow-listed `svgUrl` or inline `svgContent`,
        sanitizes the markup, and converts it to a raster image. When both are
        supplied, inline `svgContent` wins and no remote fetch occurs. JSON
        responses return a format-agnostic data URL payload, while
        `responseType: "binary"` or an omitted `responseType` streams the
        converted image directly; any other `responseType` is rejected with
        `400`. Relative `svgUrl` values resolve against the convert request
        origin/host, so the public examples below use relative AniCards card
        paths that stay on this API server host instead of a separate site
        host. SSRF protections reject unsafe protocols, IP literals,
        redirects, and hosts outside the configured AniCards allow-list. JSON
        request bodies larger than `1250000` bytes are rejected with `413`
        before SVG parsing. This JSON envelope limit is separate from the
        later `1000000`-byte inline/fetched SVG cap and the raster
        dimension/pixel limits.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConvertRequest"
            examples:
              png:
                value:
                  svgUrl: "/api/card.svg?userId=12345&cardType=animeStats"
                  format: "png"
                  responseType: "json"
              webp:
                value:
                  svgUrl: "/api/card.svg?userId=12345&cardType=favoritesGrid&variation=mixed"
                  format: "webp"
                  responseType: "json"
              inlineBinary:
                value:
                  svgContent: '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"></svg>'
                  format: "webp"
                  responseType: "binary"
              inlineWins:
                value:
                  svgUrl: "/api/card.svg?userId=12345&cardType=animeStats"
                  svgContent: '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect width="100" height="100" fill="#0f172a" /></svg>'
                  format: "png"
                  responseType: "json"
      responses:
        "200":
          description: >-
            Converted raster image as JSON when `responseType` is `json`, or
            streamed binary when `responseType` is `binary` or omitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConvertResponse"
              examples:
                png:
                  value:
                    format: "png"
                    imageDataUrl: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                webp:
                  value:
                    format: "webp"
                    imageDataUrl: "data:image/webp;base64,UklGRlIAAABXRUJQVlA4..."
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        "400":
          description: "Malformed JSON, missing `svgUrl`, invalid URL, invalid format, or invalid `responseType`"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalidJson:
                  value:
                    error: "Invalid JSON body"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions:
                      - title: "Check your input"
                        description: "Make sure all required fields are filled in correctly"
                missingUrl:
                  value:
                    error: "Missing svgUrl or svgContent parameter"
                invalidUrl:
                  value:
                    error: "Invalid URL format"
                invalidFormat:
                  value:
                    error: "Invalid format parameter"
                invalidResponseType:
                  value:
                    error: "Invalid responseType parameter"
        "401":
          $ref: "#/components/responses/UnauthorizedJson"
        "403":
          description: "Blocked by the domain/protocol allow-list or by redirect protection"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                forbidden:
                  value:
                    error: "Unauthorized or unsafe domain/protocol"
                redirectBlocked:
                  value:
                    error: "SVG redirects are not allowed"
        "404":
          description: "Allow-listed upstream SVG was not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                missingUpstream:
                  value:
                    error: "Failed to fetch SVG"
        "413":
          description: "JSON request body exceeded 1250000 bytes, inline/fetched SVG exceeded 1000000 bytes, or rasterized output exceeded dimension/pixel limits"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                jsonBodyTooLarge:
                  value:
                    error: "Request body too large"
                    category: "invalid_data"
                    retryable: false
                    status: 413
                    recoverySuggestions: []
                    maxBytes: 1250000
                responseTooLarge:
                  value:
                    error: "SVG response too large"
                rasterTooLarge:
                  value:
                    error: "SVG rasterization exceeds pixel limits"
        "415":
          description: "Fetched or inline content was not valid SVG markup"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalidInline:
                  value:
                    error: "Provided content is not a valid SVG"
                invalidFetched:
                  value:
                    error: "Fetched content is not a valid SVG"
        "429":
          $ref: "#/components/responses/TooManyRequestsJson"
        "500":
          description: "Unexpected rasterization or conversion failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                conversionFailure:
                  value:
                    error: "Conversion failed"
        "502":
          description: "Transient transport failure while fetching the upstream SVG"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                upstreamTransport:
                  value:
                    error: "Failed to fetch SVG"
        "503":
          description: "Allow-listed upstream SVG source was temporarily unavailable"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                upstreamUnavailable:
                  value:
                    error: "Failed to fetch SVG"
        "504":
          description: "Timed out while fetching the upstream SVG"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                upstreamTimeout:
                  value:
                    error: "SVG fetch timed out"
    options:
      operationId: "preflightConvertSvg"
      tags:
        - "convert"
      summary: "CORS preflight for SVG conversion requests"
      description: >-
        Returns the CORS headers required for browser clients to POST SVG
        conversion requests.
      responses:
        "200":
          $ref: "#/components/responses/JsonPostPreflight"

  /api/cron:
    post:
      operationId: "runUserRefreshCron"
      tags:
        - "cron"
      summary: "Refresh the stalest stored users from AniList"
      description: >-
        Operator-facing cron endpoint that refreshes the five stalest stored user
        records from the maintained stale-user refresh index, tracks repeated
        AniList 404 failures, and returns a plain-text repo-managed refresh
        budget summary.
      parameters:
        - $ref: "#/components/parameters/CronSecretHeader"
      security:
        - CronSecret: []
        - CronBearer: []
      responses:
        "200":
          description: "Plain-text execution summary"
          content:
            text/plain:
              schema:
                type: string
              examples:
                success:
                  value: |-
                    Updated 5/5 users successfully. Failed: 0, Removed: 0

                    Repo-managed refresh schedule: 0 */20 * * * (4 runs/day).
                    Refresh capacity budget: 5 users/run, 20 users/day.
                    Current stored users: 18. Estimated full-sweep window: ~24 hours.
                    Current footprint fits within the repo-managed 24-hour freshness budget.
        "401":
          $ref: "#/components/responses/CronUnauthorizedJson"
        "500":
          description: "Unexpected cron refresh failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                failure:
                  value:
                    error: "Cron job failed"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
        "503":
          $ref: "#/components/responses/CronServiceUnavailableJson"

  /api/cron/analytics-reporting:
    get:
      operationId: "listAnalyticsReports"
      tags:
        - "cron"
      summary: "List recent persisted analytics reports"
      description: >-
        Returns recent stored analytics reports from the bounded
        `analytics:reports` Redis list. Reports are returned newest first. The
        `limit` query is capped by the server-side retention policy. The list
        currently retains at most 50 generated reports.
      parameters:
        - $ref: "#/components/parameters/CronSecretHeader"
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: >-
            Maximum number of recent reports to return. Values above the
            retention cap are clamped to the configured maximum.
      security:
        - CronSecret: []
        - CronBearer: []
      responses:
        "200":
          description: "Recent analytics reports, newest first"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsReportList"
              examples:
                reports:
                  value:
                    reports:
                      - summary:
                          visits: 250
                        raw_data:
                          analytics:visits: 250
                        generatedAt: "2026-03-22T10:30:00.000Z"
                      - summary:
                          visits: 100
                        raw_data:
                          analytics:visits: 100
                        generatedAt: "2026-03-21T10:30:00.000Z"
                    count: 2
                    retentionLimit: 50
        "400":
          description: "Invalid list query parameters"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                invalidLimit:
                  value:
                    error: "Invalid limit parameter"
                    category: "invalid_data"
                    retryable: false
                    status: 400
                    recoverySuggestions: []
        "401":
          $ref: "#/components/responses/CronUnauthorizedJson"
        "500":
          description: "Unexpected analytics report read failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                failure:
                  value:
                    error: "Failed to fetch analytics reports"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
        "503":
          $ref: "#/components/responses/CronServiceUnavailableJson"
    post:
      operationId: "generateAnalyticsReport"
      tags:
        - "cron"
      summary: "Generate and persist an analytics report"
      description: >-
        Collects all `analytics:*` Redis keys except `analytics:reports`, groups
        them into a nested summary object, appends the latest report to the
        bounded `analytics:reports` Redis list, and returns it. Runtime analytics
        collection in the web app is consent-gated; this endpoint only reads the
        already-persisted aggregate counters and reports.
      parameters:
        - $ref: "#/components/parameters/CronSecretHeader"
      security:
        - CronSecret: []
        - CronBearer: []
      responses:
        "200":
          description: "Generated analytics report"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsReport"
              examples:
                report:
                  value:
                    summary:
                      visits: 100
                      anilist_api:
                        successful_requests: 200
                    raw_data:
                      analytics:visits: 100
                      analytics:anilist_api:successful_requests: 200
                    generatedAt: "2026-03-21T10:30:00.000Z"
        "401":
          $ref: "#/components/responses/CronUnauthorizedJson"
        "500":
          description: "Unexpected analytics job failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                failure:
                  value:
                    error: "Analytics and reporting job failed"
                    category: "server_error"
                    retryable: true
                    status: 500
                    recoverySuggestions: []
        "503":
          $ref: "#/components/responses/CronServiceUnavailableJson"

components:
  securitySchemes:
    CronSecret:
      type: apiKey
      in: header
      name: x-cron-secret
      description: >-
        Shared cron secret header for operator-facing cron endpoints. Local and
        manual callers can send `x-cron-secret`. Deployed environments fail
        with `503` when `CRON_SECRET` is missing; unsecured cron is available
        only through the explicit development override.
    CronBearer:
      type: http
      scheme: bearer
      bearerFormat: "CRON_SECRET"
      description: >-
        Hosted schedulers such as Vercel may send `Authorization: Bearer
        <CRON_SECRET>` instead of `x-cron-secret`.

  parameters:
    CronSecretHeader:
      in: header
      name: x-cron-secret
      required: false
      schema:
        type: string
      description: >-
        Cron secret used to protect operator-only endpoints. When the server is
        missing `CRON_SECRET`, the route fails with `503` instead of allowing
        unauthenticated access, except in the explicit development override.
        Hosted schedulers may alternatively use `Authorization: Bearer
        <CRON_SECRET>`.

    CardUserId:
      in: query
      name: userId
      required: false
      schema:
        type: integer
        minimum: 1
      description: >-
        Numeric AniList user ID. Either `userId` or `username` is required.
        When both are present, `userId` is used.

    CardUsername:
      in: query
      name: username
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 100
      description: >-
        Canonical AniList username lookup key. The route trims and
        case-normalizes it through the stored username index when `userId` is
        omitted.

    CardUserNameDeprecated:
      in: query
      name: userName
      required: false
      deprecated: true
      schema:
        type: string
        minLength: 1
        maxLength: 100
      description: >-
        Deprecated alias for `username`. Kept only for backward compatibility
        with older stat card links; new clients should use `username`.

    CardType:
      in: query
      name: cardType
      required: true
      schema:
        $ref: "#/components/schemas/CardType"
      description: "Card identifier to render"

    CardVariation:
      in: query
      name: variation
      required: false
      schema:
        $ref: "#/components/schemas/CardVariation"
      description: >-
        Optional card variation. Unsupported combinations fall back to the
        card-type default on the server.

    CardAnimate:
      in: query
      name: animate
      required: false
      schema:
        oneOf:
          - type: boolean
          - type: string
            enum:
              - "0"
              - "1"
              - "false"
              - "true"
              - "no"
              - "yes"
              - "off"
              - "on"
      description: >-
        Animation toggle. SVG routes keep animations enabled unless the value
        is one of `0`, `false`, `no`, or `off` (case-insensitive after
        trimming). `/card.png` injects `animate=false` when this parameter is
        omitted before rasterizing the card.

    CardColorPreset:
      in: query
      name: colorPreset
      required: false
      schema:
        $ref: "#/components/schemas/CardColorPreset"
      description: >-
        Runtime color preset key. Named presets apply first, then individual
        URL core-color overrides can replace specific slots. The special value
        `custom` means “use saved custom colors” unless all four core URL
        colors (`titleColor`, `backgroundColor`, `textColor`, and
        `circleColor`) are present, in which case the URL colors are used
        directly.

    CardTitleColor:
      in: query
      name: titleColor
      required: false
      schema:
        type: string
      description: >-
        Title color override. URL-encode `#` as `%23` when sending hex colors.

    CardBackgroundColor:
      in: query
      name: backgroundColor
      required: false
      schema:
        type: string
      description: "Background color override"

    CardTextColor:
      in: query
      name: textColor
      required: false
      schema:
        type: string
      description: "Body text color override"

    CardCircleColor:
      in: query
      name: circleColor
      required: false
      schema:
        type: string
      description: "Accent circle color override"

    CardBorderColor:
      in: query
      name: borderColor
      required: false
      schema:
        type: string
      description: "Border color override"

    CardBorderRadius:
      in: query
      name: borderRadius
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 100
      description: >-
        Border radius override in pixels. The route clamps values into the range
        0-100.

    CardShowFavorites:
      in: query
      name: showFavorites
      required: false
      schema:
        type: boolean
      description: >-
        Enables favourite-marking visuals on the card types that support them.

    CardStatusColors:
      in: query
      name: statusColors
      required: false
      schema:
        type: boolean
      description: "Use fixed status colors on status-distribution cards"

    CardPiePercentages:
      in: query
      name: piePercentages
      required: false
      schema:
        type: boolean
      description: >-
        Show percentage labels on pie and donut variants that support them.

    CardGridCols:
      in: query
      name: gridCols
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 5
      description: "Favorites grid column count"

    CardGridRows:
      in: query
      name: gridRows
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 5
      description: "Favorites grid row count"

    CardCacheBust:
      in: query
      name: _t
      required: false
      schema:
        type: string
      description: >-
        Opaque manual refresh token. Any value bypasses card-render cache reads
        and returns no-store headers for that response. It does not trigger a
        fresh AniList sync on its own.

  headers:
    CardBorderRadius:
      description: "Effective border radius used when rendering the card"
      schema:
        type: string
    CardCacheSource:
      description: >-
        Successful card render cache source indicator. Values currently include
        `render`, `memory`, `redis`, and `refresh`.
      schema:
        type: string
    CardCacheControl:
      description: >-
        Browser cache policy for card responses. Successful canonical renders
        use `public, max-age=86400, stale-while-revalidate=604800,
        stale-if-error=1209600`; successful explicit variant requests use
        `public, max-age=3600, stale-while-revalidate=86400,
        stale-if-error=604800`; `_t` renders and error responses use
        `no-store, max-age=0, must-revalidate`.
      schema:
        type: string
      example: "public, max-age=86400, stale-while-revalidate=604800, stale-if-error=1209600"
    CardSharedCacheControl:
      description: >-
        Shared-cache policy exposed via `CDN-Cache-Control` and
        `Edge-Cache-Control`. Successful canonical renders use
        `public, s-maxage=86400, stale-while-revalidate=604800,
        stale-if-error=1209600`; successful explicit variant requests use
        `public, s-maxage=3600, stale-while-revalidate=86400,
        stale-if-error=604800`; `_t` renders and error responses use
        `no-store`.
      schema:
        type: string
      example: "public, s-maxage=86400, stale-while-revalidate=604800, stale-if-error=1209600"
    RetryAfter:
      description: "Seconds until the client should retry the request"
      schema:
        type: string
    RateLimitLimit:
      description: "Configured request limit for the current window"
      schema:
        type: string
    RateLimitRemaining:
      description: "Remaining requests in the current rate-limit window"
      schema:
        type: string
    RateLimitReset:
      description: "Unix timestamp in milliseconds when the current rate-limit window resets"
      schema:
        type: string
    AccessControlAllowOriginJsonApi:
      description: >-
        Allowed browser origin for JSON API requests. In production this comes
        from `NEXT_PUBLIC_APP_URL`; in development it falls back to the request
        origin or `*`.
      schema:
        type: string
      example: "https://anicards.alpha49.com"
    AccessControlAllowOriginCardSvg:
      description: >-
        Allowed embed origin for card SVG responses. In production this defaults
        to `https://anilist.co` unless `NEXT_PUBLIC_CARD_SVG_ALLOWED_ORIGIN`
        overrides it.
      schema:
        type: string
      example: "https://anilist.co"
    AccessControlAllowHeadersContentType:
      description: "Allowed request headers for this endpoint"
      schema:
        type: string
      example: "Content-Type"
    AccessControlAllowHeadersContentTypeRequestId:
      description: "Allowed request headers for this endpoint"
      schema:
        type: string
      example: "Content-Type, X-Request-Id"
    AccessControlAllowMethodsGetHeadOptions:
      description: "Allowed HTTP methods for this endpoint"
      schema:
        type: string
      example: "GET, HEAD, OPTIONS"
    AccessControlAllowMethodsPostOptions:
      description: "Allowed HTTP methods for this endpoint"
      schema:
        type: string
      example: "POST, OPTIONS"
    AccessControlExposeHeadersJsonApi:
      description: "Response headers exposed to JSON API browser clients"
      schema:
        type: string
      example: "Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-Request-Id"
    AccessControlExposeHeadersCardSvg:
      description: "Response headers exposed to SVG card browser clients"
      schema:
        type: string
      example: "X-Card-Border-Radius, Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-Request-Id"
    HeaderVaryOrigin:
      description: "Response varies by request `Origin`."
      schema:
        type: string
      example: "Origin"
    RequestId:
      description: "Per-request correlation ID generated by the API layer"
      schema:
        type: string
      example: "req_01HZQK8F8Y6Z8A2R3M4N5P6Q7R"

  responses:
    UnauthorizedJson:
      description: "Request blocked by same-origin protection"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          examples:
            unauthorized:
              value:
                error: "Unauthorized"
                category: "authentication"
                retryable: false
                status: 401
                recoverySuggestions: []

    TooManyRequestsJson:
      description: "Rate limit exceeded"
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          examples:
            rateLimited:
              value:
                error: "Too many requests"
                category: "rate_limited"
                retryable: true
                status: 429
                recoverySuggestions:
                  - title: "Wait and retry"
                    description: "Please wait a minute before generating another card. We're limiting requests to keep the service running smoothly."

    JsonGetPreflight:
      description: "CORS preflight response for JSON read endpoints"
      headers:
        Access-Control-Allow-Origin:
          $ref: "#/components/headers/AccessControlAllowOriginJsonApi"
        Access-Control-Allow-Headers:
          $ref: "#/components/headers/AccessControlAllowHeadersContentType"
        Access-Control-Allow-Methods:
          $ref: "#/components/headers/AccessControlAllowMethodsGetHeadOptions"
        Access-Control-Expose-Headers:
          $ref: "#/components/headers/AccessControlExposeHeadersJsonApi"
        Vary:
          $ref: "#/components/headers/HeaderVaryOrigin"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"

    JsonPostPreflight:
      description: "CORS preflight response for JSON write endpoints"
      headers:
        Access-Control-Allow-Origin:
          $ref: "#/components/headers/AccessControlAllowOriginJsonApi"
        Access-Control-Allow-Headers:
          $ref: "#/components/headers/AccessControlAllowHeadersContentType"
        Access-Control-Allow-Methods:
          $ref: "#/components/headers/AccessControlAllowMethodsPostOptions"
        Access-Control-Expose-Headers:
          $ref: "#/components/headers/AccessControlExposeHeadersJsonApi"
        Vary:
          $ref: "#/components/headers/HeaderVaryOrigin"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"

    ErrorReportsPreflight:
      description: "CORS preflight response for structured error-report ingestion"
      headers:
        Access-Control-Allow-Origin:
          $ref: "#/components/headers/AccessControlAllowOriginJsonApi"
        Access-Control-Allow-Headers:
          $ref: "#/components/headers/AccessControlAllowHeadersContentTypeRequestId"
        Access-Control-Allow-Methods:
          $ref: "#/components/headers/AccessControlAllowMethodsPostOptions"
        Access-Control-Expose-Headers:
          $ref: "#/components/headers/AccessControlExposeHeadersJsonApi"
        Vary:
          $ref: "#/components/headers/HeaderVaryOrigin"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"

    CardSvgPreflight:
      description: "CORS preflight response for SVG card requests"
      headers:
        Access-Control-Allow-Origin:
          $ref: "#/components/headers/AccessControlAllowOriginCardSvg"
        Access-Control-Allow-Headers:
          $ref: "#/components/headers/AccessControlAllowHeadersContentType"
        Access-Control-Allow-Methods:
          $ref: "#/components/headers/AccessControlAllowMethodsGetHeadOptions"
        Access-Control-Expose-Headers:
          $ref: "#/components/headers/AccessControlExposeHeadersCardSvg"
        Vary:
          $ref: "#/components/headers/HeaderVaryOrigin"
        X-Request-Id:
          $ref: "#/components/headers/RequestId"

    CronUnauthorizedJson:
      description: "Invalid or missing cron secret"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          examples:
            unauthorized:
              value:
                error: "Unauthorized"
                category: "authentication"
                retryable: false
                status: 401
                recoverySuggestions: []

    CronServiceUnavailableJson:
      description: "Server-side cron authentication is not configured"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          examples:
            missingCronSecret:
              value:
                error: "CRON_SECRET is not configured"
                category: "server_error"
                retryable: true
                status: 503
                recoverySuggestions: []

    UnauthorizedPlain:
      description: "Invalid or missing cron secret"
      content:
        text/plain:
          schema:
            type: string
          examples:
            unauthorized:
              value: "Unauthorized"

    InternalErrorPlain:
      description: "Plain-text internal server failure"
      content:
        text/plain:
          schema:
            type: string
          examples:
            failure:
              value: "Cron job failed"

    CardSvgOk:
      description: >-
        Rendered SVG image. Successful responses expose `X-Cache-Source` and
        `X-Card-Border-Radius`. Cache policy depends on the request: canonical
        renders use the long-lived card cache, explicit visual override
        requests use the shorter preview cache, and `_t` renders are no-store.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
        X-Cache-Source:
          $ref: "#/components/headers/CardCacheSource"
      content:
        image/svg+xml:
          schema:
            type: string
          examples:
            svg:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="400" height="120" xmlns="http://www.w3.org/2000/svg">
                  <rect width="100%" height="100%" fill="#0f172a" rx="12" />
                  <text x="50%" y="50%" fill="#e2e8f0" text-anchor="middle" dominant-baseline="middle">AniCards Sample</text>
                </svg>

    CardSvgBadRequest:
      description: "SVG-formatted client error. Error card responses are no-store."
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/svg+xml:
          schema:
            type: string
          examples:
            missingCardType:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg"><text>Client Error: Missing parameter: cardType</text></svg>

    CardSvgNotFound:
      description: "SVG-formatted not-found response. Error card responses are no-store."
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/svg+xml:
          schema:
            type: string
          examples:
            missingUser:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg"><text>Not Found: User not found</text></svg>

    CardSvgRateLimited:
      description: "SVG-formatted rate-limit response. Error card responses are no-store."
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
      content:
        image/svg+xml:
          schema:
            type: string
          examples:
            tooManyRequests:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg"><text>Client Error: Too many requests - try again later</text></svg>

    CardSvgInternalError:
      description: "SVG-formatted server error. Error card responses are no-store."
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/svg+xml:
          schema:
            type: string
          examples:
            failure:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg"><text>Server Error: An internal error occurred</text></svg>

    CardSvgServiceUnavailable:
      description: >-
        SVG-formatted temporary availability failure. Error card responses are
        no-store.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/svg+xml:
          schema:
            type: string
          examples:
            userUnavailable:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg"><text>Server Error: User data is temporarily unavailable</text></svg>
            cardUnavailable:
              value: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg"><text>Server Error: Card data is temporarily unavailable</text></svg>

    CardPngOk:
      description: >-
        Rasterized PNG image. Successful responses preserve the card-render
        cache headers and `X-Cache-Source` from the underlying SVG render.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
        X-Cache-Source:
          $ref: "#/components/headers/CardCacheSource"
      content:
        image/png:
          schema:
            type: string
            format: binary

    CardPngBadRequest:
      description: "PNG-formatted client error"
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/png:
          schema:
            type: string
            format: binary

    CardPngNotFound:
      description: "PNG-formatted not-found response"
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/png:
          schema:
            type: string
            format: binary

    CardPngRateLimited:
      description: "PNG-formatted rate-limit response"
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-RateLimit-Limit:
          $ref: "#/components/headers/RateLimitLimit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/RateLimitRemaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/RateLimitReset"
      content:
        image/png:
          schema:
            type: string
            format: binary

    CardPngInternalError:
      description: "PNG-formatted server error"
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/png:
          schema:
            type: string
            format: binary

    CardPngServiceUnavailable:
      description: "PNG-formatted temporary availability failure"
      headers:
        Cache-Control:
          $ref: "#/components/headers/CardCacheControl"
        CDN-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        Edge-Cache-Control:
          $ref: "#/components/headers/CardSharedCacheControl"
        X-Card-Border-Radius:
          $ref: "#/components/headers/CardBorderRadius"
      content:
        image/png:
          schema:
            type: string
            format: binary

  schemas:
    ApiError:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
        category:
          type: string
          enum:
            - "user_not_found"
            - "rate_limited"
            - "network_error"
            - "invalid_data"
            - "server_error"
            - "timeout"
            - "authentication"
            - "unknown"
        retryable:
          type: boolean
        status:
          type: integer
          minimum: 400
          maximum: 599
        recoverySuggestions:
          type: array
          items:
            $ref: "#/components/schemas/RecoverySuggestion"
      required:
        - error
        - category
        - retryable
        - status
        - recoverySuggestions

    ConflictError:
      allOf:
        - $ref: "#/components/schemas/ApiError"
        - type: object
          properties:
            currentUpdatedAt:
              type: string
              format: date-time
          required:
            - currentUpdatedAt

    RecoverySuggestion:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
        description:
          type: string
        actionUrl:
          type: string
        actionLabel:
          type: string
      required:
        - title
        - description

    ErrorReportRecorded:
      type: object
      additionalProperties: false
      properties:
        recorded:
          type: boolean
          const: true
      required:
        - recorded

    ErrorReportRequestRecoverySuggestion:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          minLength: 1
          maxLength: 240
        actionLabel:
          type: string
          minLength: 1
          maxLength: 80
      required:
        - title
        - description

    ErrorReportSource:
      type: string
      enum:
        - "user_action"
        - "client_hook"
        - "analytics_instrumentation"
        - "react_error_boundary"
        - "app_router_error_boundary"
        - "api_route"

    ErrorReportMetadataValue:
      description: >-
        Primitive metadata value retained after sanitization. Longer strings
        are truncated before durable persistence.
      anyOf:
        - type: string
          maxLength: 160
        - type: number
        - type: boolean
        - type: "null"

    ErrorReportMetadata:
      type: object
      description: >-
        Optional primitive-only metadata map. Nested objects and arrays are
        ignored. Keys longer than 64 characters are truncated before durable
        persistence.
      propertyNames:
        type: string
        maxLength: 64
      additionalProperties:
        $ref: "#/components/schemas/ErrorReportMetadataValue"

    ErrorReportRequest:
      type: object
      additionalProperties: true
      description: >-
        Structured client error report durably recorded by `/api/error-reports`.
        `userAction` and `message` are required. Unknown top-level fields are
        ignored, client-supplied `userId` and `username` are discarded, and
        valid client `id`, `timestamp`, `category`, `retryable`, and
        `recoverySuggestions` values are sanitized then preserved.
      properties:
        id:
          type: string
          pattern: "^[A-Za-z0-9._:-]{8,120}$"
          description: >-
            Optional stable client incident identifier. When omitted or
            invalid, the runtime falls back to a generated incident ID.
        timestamp:
          type: integer
          format: int64
          minimum: 1
          description: >-
            Optional original client occurrence timestamp in Unix
            milliseconds. When omitted or invalid, the runtime falls back to
            the current report time.
        source:
          $ref: "#/components/schemas/ErrorReportSource"
        userAction:
          type: string
          minLength: 1
          maxLength: 120
        message:
          type: string
          minLength: 1
          maxLength: 2000
        category:
          type: string
          enum:
            - "user_not_found"
            - "rate_limited"
            - "network_error"
            - "invalid_data"
            - "server_error"
            - "timeout"
            - "authentication"
            - "unknown"
        retryable:
          type: boolean
        recoverySuggestions:
          type: array
          maxItems: 6
          items:
            $ref: "#/components/schemas/ErrorReportRequestRecoverySuggestion"
        requestId:
          type: string
          pattern: "^[A-Za-z0-9._:-]{8,120}$"
          description: >-
            Optional request correlation ID. When omitted or invalid, the
            server falls back to the ingestion request ID.
        errorName:
          type: string
          minLength: 1
          maxLength: 120
        route:
          type: string
          minLength: 1
          maxLength: 512
          description: >-
            Current client route. The durable telemetry pipeline normalizes it
            to a privacy-safe page path before persistence.
        statusCode:
[...]
