/* Filename: styles/AniCards.css */

body,
html {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.container,
.main {
  width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1 0 auto;
  position: relative;
}

.footer-div {
  width: calc(100% - 64px) !important;
  position: absolute;
  bottom: 0;
}
