/* Filename: styles/AniCards.css */

/* Palette
#1F2833: Dark Blue (Background color of the form)
#C5C6C7: Light Grey (Text color and color of the checkboxes)
#45A29E: Turquoise (Background color of the button)
#66FCF1: Light Blue (Color of the form label)
#0B0C10: Black (Background color of the body)
*/

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #1b1d25;
}

body,
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C5C6C7;
}

.container,
.main {
    width: 100vw;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1 0 auto;
    position: relative;
}

.sidebar {
    width: 62px;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: #16181f;
    font-family: 'Helvetica Neue', sans-serif;
    color: #C5C6C7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 180px;
}

.sidebar nav ul,
.sidebar .bottom-link {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li:not(.site-icon-li),
.sidebar .bottom-link {
    width: 100%;
}

.sidebar nav ul li a,
.sidebar .bottom-link a {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    width: 100%;
    transition: width 0.5s;
    overflow: hidden;
}

.sidebar nav ul li a img,
.sidebar .bottom-link a img {
    width: 32px;
    height: 32px;
}

.sidebar nav ul li a img:not(.site-icon),
.sidebar .bottom-link a img:not(.site-icon) {
    filter: invert(1) brightness(0.6);
}

.sidebar nav ul li a:hover,
.sidebar .bottom-link a:hover {
    filter: brightness(130%);
}

.link-content {
    display: flex;
    align-items: flex-start;
}

.link-text {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    white-space: nowrap;
    text-decoration: none;
    filter: brightness(0.6);
    color: white;
}

.sidebar.expanded .link-text {
    padding-left: 10px;
    transform: scaleX(1);
    opacity: 1;
}

.sidebar nav ul li.active-link:not(.site-icon-li) a {
    filter: brightness(160%);
}

.sidebar nav ul li.active-link:not(.site-icon-li) .link-text {
    filter: none;
    color: #47a59f;
}

.sidebar nav ul li.active-link:not(.site-icon-li) a:hover {
    filter: brightness(120%);
}

.sidebar nav ul li.active-link .link-content img:not(.site-icon) {
    filter: invert(56%) sepia(58%) saturate(371%) hue-rotate(127deg) brightness(92%) contrast(85%);
}

.bottom-link .link-content {
    height: 46px;
}

.sidebar .bottom-link {
    margin-top: auto;
}

.sidebar .bottom-link .link-content a:not(:first-child) {
    display: none;
}

.sidebar .bottom-link .link-content a:not(:first-child) img {
    filter: invert(0) brightness(0.6);
}

.sidebar.expanded .bottom-link .link-content a:not(:first-child) {
    display: block;
}

#arrow {
    position: relative;
    left: 0;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: #1e1e2e;
    color: #66FCF1;
    box-sizing: border-box;
}

header p {
    color: #C5C6C7;
    margin-left: auto;
    font-size: 1em;
}

.center-container {
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 5%;
}

h1 {
    color: #66FCF1;
    font-size: 2.5em;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
    padding: 10px 20px;
}

.footer-div {
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    flex-shrink: 0;
    background-color: #171723;
    color: #C5C6C7;
    text-align: center;
    padding: 10px;
    width: calc(100% - 62px);
    border-top: 1px solid #66FCF1;
    font-size: 0.8em;
    box-sizing: border-box;
    transition: width 0.3s;
}

.footer-div p,
.footer-div a {
    color: #C5C6C7;
    margin: 0;
    padding: 0;
}

.footer-div a:hover {
    color: #66FCF1;
}

.footer-div ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}