/* Filename: styles/AniCards.css */

/* Palette
#1F2833: Dark Blue (Background color of the form)
#C5C6C7: Light Grey (Text color and color of the checkboxes)
#45A29E: Turquoise (Background color of the button)
#66FCF1: Light Blue (Color of the form label)
#0B0C10: Black (Background color of the body)
*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


body, .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C5C6C7;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #1b1d25;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1 0 auto;
    width: 100vw;
    position: relative;
    min-height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 62px;
    flex-shrink: 0;
    flex-basis: auto; 
    background-color: #16181f; 
    font-family: 'Helvetica Neue', sans-serif;
    color: #C5C6C7; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 150px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar.expanded nav ul li {
    width: 150px;
}

.sidebar.expanded nav ul li a{
    width: 120px;
    text-decoration: none;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    width: 50px;
    transition: width 0.5s; 
    overflow: hidden; 
}

.sidebar nav ul li a:hover {
    filter: brightness(130%);
}

.sidebar nav ul li.active-link a {
    filter: brightness(160%);
}

.sidebar nav ul li.active-link .link-text {
    filter: none;
    color: #47a59f;
}

.sidebar nav ul li.active-link a:hover {
    filter: brightness(120%);
}

.sidebar nav ul li a img {
    width: 32px; 
    height: 32px; 
}

.sidebar nav ul li a img:not(.site-icon) {
    filter: invert(1) brightness(0.6);
}

.sidebar nav ul li.active-link .link-content img:not(.site-icon) {
    filter: invert(56%) sepia(58%) saturate(371%) hue-rotate(127deg) brightness(92%) contrast(85%);
}

.link-content {
    display: flex;
    align-items: center;
}

.link-text {
    transform: scaleX(0); 
    transform-origin: left; 
    opacity: 0; 
    transition: transform 0.5s, opacity 0.5s;
    white-space: nowrap;
    text-decoration: none; 
    filter: brightness(0.6);
    color: white; 
}

.sidebar.expanded .link-text {
    padding-left: 10px; 
    transform: scaleX(1);
    opacity: 1; 
}

.center-container {
    flex-grow: 1;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: #1e1e2e;
    color: #66FCF1;
    box-sizing: border-box;
}

header p {
    color: #C5C6C7; 
    margin-left: auto;
    font-size: 1em;
}

h1 {
    color: #66FCF1;
    font-size: 2.5em;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
    padding: 10px 20px;
}

.footer-div {
    position: absolute;
    bottom: 0;
    margin-top: 40px; 
    flex-shrink: 0;
    background-color: #171723;
    color: #C5C6C7;
    text-align: center;
    padding: 10px; 
    width: 100%;
    border-top: 1px solid #66FCF1;
    font-size: 0.8em;
    box-sizing: border-box;
}

.footer-div p, .footer-div a {
    color: #C5C6C7;
    margin: 0;
    padding: 0;
}

.footer-div a:hover {
    color: #66FCF1;
}

.footer-div ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#arrow {
    position: relative;
    left: 0;
    cursor: pointer;
}