/* Filename: styles/index_styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1b1d25;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #66FCF1; 
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    color: #C5C6C7;
    margin-bottom: 20px;
    font-size: 1.2em;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #1F2833; 
    color: #C5C6C7; 
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E; 
    color: #C5C6C7; 
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #66FCF1;
    color: #0B0C10; 
}