/* Filename: styles/index_styles.css */

/* Palette
#1F2833: Dark Blue (Background color of the form)
#C5C6C7: Light Grey (Text color and color of the checkboxes)
#45A29E: Turquoise (Background color of the button)
#66FCF1: Light Blue (Color of the form label)
#0B0C10: Black (Background color of the body)
*/

body {
    font-family: Arial, sans-serif;
    background-color: #1b1d25;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #66FCF1;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    color: #C5C6C7;
    margin-bottom: 20px;
    font-size: 1.2em;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #1F2833;
    color: #C5C6C7;
}

#dataForm {
    background-color: #1F2833;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    margin: 20px auto;
    color: #C5C6C7;
}

#formLabel {
    font-size: 20px;
    font-weight: bold;
    color: #66FCF1;
    margin: auto;
    text-align: center;
    display: block;
    width: fit-content; 
}

#dataForm div {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#dataForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-bottom: 5px;
}

#dataForm input[type="checkbox"] {
    order: -1;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: #C5C6C7;
    cursor: pointer;
    margin: auto; 
    width: 300px;
    display: block;
}

button:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}