/* Filename: styles/index_styles.css */

/* Palette
#1F2833: Dark Blue (Background color of the form)
#C5C6C7: Light Grey (Text color and color of the checkboxes)
#45A29E: Turquoise (Background color of the button)
#66FCF1: Light Blue (Color of the form label)
#0B0C10: Black (Background color of the body)
*/

body {
    font-family: Arial, sans-serif;
    background-color: #1b1d25;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #1F2833;
    color: #66FCF1;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    margin: 0;
    padding: 0 10px;
}

header p {
    margin: 0;
    padding: 0 10px;
}

h1 {
    color: #66FCF1;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    color: #C5C6C7;
    margin-bottom: 20px;
    font-size: 1.2em;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #1F2833;
    color: #C5C6C7;
}

#dataForm {
    background-color: #1F2833;
    border-radius: 5px;
    padding: 20px;
    width: 900px;
    margin: 20px auto;
    color: #C5C6C7;
}

#formLabelWrapper {
    display: flex;
    justify-content: center;
}

#formLabel {
    font-size: 20px;
    font-weight: bold;
    color: #66FCF1;
    margin: auto;
    text-align: center;
    width: fit-content; 
}

#dataForm div {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#dataForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 10px); /* Adjust the width to fit three labels in one row */
    margin: 5px; /* Add margin to create a gap between the labels */
}

#dataForm input[type="checkbox"] {
    appearance: none;
    background-color: #1F2833;
    border: 2px solid #66FCF1;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

#dataForm input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 50%;
    left: 50%;
    background-color: #66FCF1;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: #C5C6C7;
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
    display: block;
}

button:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}