/* Filename: styles/user_styles.css */

/* Palette
#1b1d25: Dark Blue (Background color of the body)
#C5C6C7: Light Grey (Text color, color of the checkboxes, and color of the download button)
#66FCF1: Light Blue (Color of the h1 text and hover background color of the download button)
#45A29E: Turquoise (Background color of the download button)
#1F2833: Darker Blue (Border color of the download button)
#0B0C10: Black (Hover text color of the download button)
*/

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #1b1d25;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #C5C6C7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #1e1e2e;
    color: #66FCF1;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0 10px;
}

header p {
    margin: 0;
    padding: 0 10px;
}

p {
    color: #C5C6C7;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.container {
    width: 100%;
    max-width: 90%;
}

h1 {
    text-align: center;
    color: #66FCF1;
    margin-bottom: 2em;
    font-size: 2.5em;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.svg-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    min-width: 200px;
}

.svg-controls {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 5px;
}


.svg-item button {
    flex: 1;
    margin: 0 5px;
    padding: 0.5em 1em;
    border: 2px solid #1F2833;
    border-radius: 5px;
    background-color: #45A29E;
    color: #C5C6C7;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
    max-width: 48%;
}

.select-container {
    position: relative;
    flex: 1;
    margin: 0 5px;
    width: 100%; /* Add this */
    box-sizing: border-box; /* Add this */
}

.svg-item select {
    flex: 1;
    margin: 0 5px;
    padding: 0.5em 1em;
    border: 2px solid #1F2833;
    border-radius: 5px;
    background-color: #45A29E;
    color: #C5C6C7;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
    width: 100%;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    appearance: none; /* Add this */
    -webkit-appearance: none; /* Add this */
    -moz-appearance: none; /* Add this */
}


.arrow {
    background: url('../images/dropdown-arrow.png') no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    pointer-events: none;
    z-index: 2; /* Add this */
}

.svg-item select:focus + .arrow {
    transform: translateY(-50%) rotate(0deg);
}

.svg-item button:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}

#color-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F2833;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.link-button, .download-button {
    display: inline-block;
    width: 48%;
    padding: 0.5em 1em;
    margin: 5px 0;
    background-color: #45A29E;
    color: #C5C6C7;
    border: 2px solid #1F2833;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
}

.link-button:hover, .download-button:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}

img {
    width: auto;
    height: auto;
    border: 6px solid #C5C6C7;
    border-radius: 10px;
}

button.svg-button {
    display: inline-block !important;
    min-width: 100% !important;
    padding: 10px !important;
    border: 6px solid #C5C6C7 !important;
    border-radius: 10px !important;
    background: none !important;
    color: inherit !important;
    font-size: inherit !important;
    cursor: pointer !important;
    text-align: center !important;
    box-sizing: border-box;
}

div[id] {
    width: 100%;
}

@keyframes slideUp {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    z-index: 3;
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: fixed;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: #1F2833;
    margin: auto;
    padding: 20px;
    border: 1px solid #45A29E;
    width: 80%;
    max-width: 500px; 
    color: #C5C6C7;
    font-size: 1.2em;
    border-radius: 5px;
    animation: slideUp 0.5s forwards;

}

.modal-content button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 5px 0;
    background-color: #45A29E;
    color: #C5C6C7;
    border: 2px solid #1F2833;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
}

.modal-content button:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}

.close {
    color: #C5C6C7;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #66FCF1;
    text-decoration: none;
    cursor: pointer;
}

.copy-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#copyStatus {
    font-size: 0.8em;
    height: 18.67px;
    line-height: 18.67px;
    color: #66FCF1;
    margin-left: 10px; 
    transition: opacity 0.3s ease;
}

#copyStatus.hide {
    opacity: 0;
}

.footer-div {
    margin-top: 40px; 
    flex-shrink: 0;
    background-color: #171723;
    color: #C5C6C7;
    text-align: center;
    padding: 10px; 
    width: 100%;
    border-top: 1px solid #66FCF1;
    font-size: 0.8em;
    box-sizing: border-box;
}

.footer-div p, .footer-div a {
    color: #C5C6C7;
    margin: 0;
}

.footer-div a:hover {
    color: #66FCF1;
}

.footer-div ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-div li {
    display: inline;
}

.favicon {
    border: none;
}