/* stylelint-disable selector-id-pattern */

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #1b1d25;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #c5c6c7;
  flex-direction: column;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
}

.container {
  display: flex;
  overflow-x: hidden;
  height: 100%;
}

.container,
.center-container {
  width: 100%;
}

p {
  margin-bottom: 20px;
  font-size: 1.2em;
  padding: 10px 20px;
}

header p {
  color: #c5c6c7;
  margin-left: auto;
  font-size: 1em;
  white-space: nowrap;
}

.changelog-link {
  color: #61aeff;
  text-decoration: none;
  font-weight: bold;
}

.changelog-link:hover {
  color: #4090d9;
  text-decoration: underline;
}

.footer-div {
  margin-top: 40px;
  flex-shrink: 0;
  background-color: #171723;
  color: #c5c6c7;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-top: 1px solid #66fcf1;
  font-size: 0.8em;
  box-sizing: border-box;
}

.footer-div p,
.footer-div a {
  color: inherit;
  margin: 0;
  padding: 0;
}

.footer-div ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sidebar {
  width: 62px;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: #16181f;
  font-family: "Helvetica Neue", sans-serif;
  color: #c5c6c7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.5s;
  grid-row: 2;
  position: sticky;
  top: 0;
  bottom: 0;
}

.sidebar.expanded {
  width: 160px;
}

.sidebar nav ul,
.sidebar .bottom-link {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar nav ul li:not(.site-icon-li),
.sidebar .bottom-link {
  width: 100%;
}

.sidebar nav ul li a,
.sidebar .bottom-link a {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  width: auto;
  transition: width 0.7s;
  overflow: hidden;
}

.footer-div a:hover {
  color: #66fcf1;
}

.center-container img,
button.svg-button {
  border: 6px solid #c5c6c7;
  border-radius: 10px;
}

.sidebar nav ul li a img,
.sidebar .bottom-link a img {
  width: 32px;
  height: 32px;
}

.sidebar nav ul li a img:not(.site-icon),
.sidebar .bottom-link a img:not(.site-icon) {
  filter: invert(1) brightness(0.6);
}

.sidebar nav ul li a:hover,
.sidebar .bottom-link a:hover {
  filter: brightness(130%);
}

.link-content {
  display: flex;
  align-items: center;
}

.link-text {
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
  white-space: nowrap;
  text-decoration: none;
  filter: brightness(0.6);
  color: white;
}

.sidebar.expanded .link-text {
  padding-left: 10px;
  transform: scaleX(1);
  opacity: 1;
}

.sidebar nav ul li.active-link:not(.site-icon-li) a {
  filter: brightness(160%);
}

.sidebar nav ul li.active-link:not(.site-icon-li) .link-text {
  filter: none;
  color: #47a59f;
}

.sidebar .bottom-link .link-content a:not(:first-child) {
  display: none;
}

.sidebar .bottom-link .link-content a:not(:first-child) img {
  filter: invert(0) brightness(0.6);
}

.sidebar nav ul li.active-link:not(.site-icon-li) a:hover {
  filter: brightness(120%);
}

.sidebar nav ul li.active-link .link-content img:not(.site-icon) {
  filter:
    invert(56%)
    sepia(58%)
    saturate(371%)
    hue-rotate(127deg)
    brightness(92%)
    contrast(85%);
}

.bottom-link .link-content {
  height: 46px;
}

.sidebar .bottom-link {
  margin-top: auto;
}

.sidebar.expanded .bottom-link .link-content a:not(:first-child) {
  display: block;
}

#arrow {
  position: relative;
  left: 0;
  cursor: pointer;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
  background-color: #1e1e2e;
  color: #66fcf1;
  box-sizing: border-box;
  z-index: 2;
}

#arrow img {
  width: 32px;
  height: 32px;
  filter: invert(1);
  transition: transform 0.5s ease-in-out;
}

#arrow.expanded img {
  transform: rotate(180deg);
}

.content {
  padding: 40px;
}

.content,
.svg-item {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
}

.center-container {
  flex-grow: 1;
  text-align: center;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 0 5%;
  display: flex;
  justify-content: center;
}

h1 {
  color: #66fcf1;
  font-size: 2.5em;
}

.center-container h1 {
  text-align: center;
}

.center-container p {
  width: 50%;
  margin: 0 auto 3em;
}

@media (width <= 700px) {
  .center-container h1 {
    font-size: calc(2.5em * 0.9);
  }

  .center-container p {
    width: auto !important;
    font-size: calc(1.2em * 0.9);
  }

  .svg-wrapper {
    font-size: calc(1em * 0.9);
  }

  .sidebar nav ul li a img,
  .sidebar .bottom-link a img {
    max-width: calc(32px * 0.9);
    max-height: calc(32px * 0.9);
  }

  div[id]:not(#animeStats, #mangaStats, #socialStats, #arrow, ) {
    width: calc(331.2px * 0.9)!important;
    height: calc(206.2px * 0.9)!important;
  }
  
  #animeStats,
  #mangaStats,
  #animeStats img,
  #mangaStats img {
    width: calc(461.2px * 0.9) !important;
    height: calc(206.2px * 0.9)!important;
    border: none !important;
    border-radius: 0 !important;
  }
  
  #socialStats,
  #socialStats img {
    width: calc(291.2px * 0.9)!important;
    height: calc(206.2px* 0.9)!important;
    border: none !important;
    border-radius: 0 !important;
  }

  #arrow img {
    height: calc(32px * 0.9);
    width: calc(32px * 0.9);
  }

  div[id] img:not(#animeStats img, #mangaStats img, #socialStats img, #arrow img) {
    width: calc(331.2px * 0.9)!important;
    height: calc(206.2px * 0.9)!important;
    border: none !important;
    border-radius: 0 !important;
  }

  .sidebar {
    width: calc(64px * 0.9);
  }

  .sidebar.expanded {
    width: calc(160px * 0.9);
  }

  .sidebar nav ul li a,
  .sidebar .bottom-link a {
    padding: calc(5px * 0.9) calc(15px * 0.9);
  }

  .link-text {
    padding-left: calc(10px * 0.9);
    font-size: calc(1em * 0.9);
  }

  header {
    height: calc(42px * 0.9);
  }

  .changelog-link {
    font-size: calc(1em * 0.9);
  }

  .footer-div {
    font-size: calc(0.8em * 0.9);
  }
}

@media (width <= 550px) {
  .center-container h1 {
    font-size: calc(2.5em * 0.8);
  }

  .center-container p {
    font-size: calc(1.2em * 0.8);
  }

  .svg-wrapper {
    font-size: calc(1em * 0.8);
  }

  .sidebar nav ul li a img,
  .sidebar .bottom-link a img {
    max-width: calc(32px * 0.8);
    max-height: calc(32px * 0.8);
  }

  div[id]:not(#animeStats, #mangaStats, #socialStats, #arrow, #animeStats img, #mangaStats img, #socialStats img) {
    width: calc(331.2px * 0.8)!important;
    height: calc(206.2px * 0.8)!important;
  }
  
  #animeStats,
  #mangaStats,
  #animeStats img,
  #mangaStats img {
    width: calc(461.2px * 0.8) !important;
    height: calc(206.2px * 0.8)!important;
  }
  
  #socialStats,
  #socialStats img {
    width: calc(291.2px * 0.8)!important;
    height: calc(206.2px* 0.8)!important;
  }

  #arrow img {
    height: calc(32px * 0.8);
    width: calc(32px * 0.8);
  }

  div[id] img:not(#animeStats img, #mangaStats img, #socialStats img, #arrow img) {
    width: calc(331.2px * 0.8)!important;
    height: calc(206.2px * 0.8)!important;
  }

  .sidebar {
    width: calc(64px * 0.8);
  }

  .sidebar.expanded {
    width: calc(160px * 0.8);
  }

  .sidebar nav ul li a,
  .sidebar .bottom-link a {
    padding: calc(5px * 0.8) calc(15px * 0.8);
  }

  .link-text {
    padding-left: calc(10px * 0.8);
    font-size: calc(1em * 0.8);
  }

  header {
    height: calc(42px * 0.8);
  }

  .changelog-link {
    font-size: calc(1em * 0.8);
  }

  .footer-div {
    font-size: calc(0.8em * 0.8);
  }
}

@media (width <= 500px) {
  .center-container h1 {
    font-size: calc(2.5em * 0.7);
  }

  .center-container p {
    font-size: calc(1.2em * 0.7);
  }

  .svg-wrapper {
    font-size: calc(1em * 0.7);
  }

  .sidebar nav ul li a img,
  .sidebar .bottom-link a img {
    max-width: calc(32px * 0.7);
    max-height: calc(32px * 0.7);
  }

  div[id]:not(#animeStats, #mangaStats, #socialStats, #arrow, #animeStats img, #mangaStats img, #socialStats img) {
    width: calc(331.2px * 0.7)!important;
    height: calc(206.2px * 0.7)!important;
  }
  
  #animeStats,
  #mangaStats,
  #animeStats img,
  #mangaStats img {
    width: calc(461.2px * 0.7) !important;
    height: calc(206.2px * 0.7)!important;
  }
  
  #socialStats,
  #socialStats img {
    width: calc(291.2px * 0.7)!important;
    height: calc(206.2px* 0.7)!important;
  }

  #arrow img {
    height: calc(32px * 0.7);
    width: calc(32px * 0.7);
  }

  div[id] img:not(#animeStats img, #mangaStats img, #socialStats img, #arrow img) {
    width: calc(331.2px * 0.7)!important;
    height: calc(206.2px * 0.7)!important;
  }

  .sidebar {
    width: calc(64px * 0.7);
  }

  .sidebar.expanded {
    width: calc(160px * 0.7);
  }

  .sidebar nav ul li a,
  .sidebar .bottom-link a {
    padding: calc(5px * 0.7) calc(15px * 0.7);
  }

  .link-text {
    padding-left: calc(10px * 0.7);
    font-size: calc(1em * 0.7);
  }

  header {
    height: calc(42px * 0.7);
  }

  .changelog-link {
    font-size: calc(1em * 0.7);
  }

  .footer-div {
    font-size: calc(0.8em * 0.7);
  }
}

@media (width <= 450px) {
  .center-container h1 {
    font-size: calc(2.5em * 0.6);
  }

  .center-container p {
    font-size: calc(1.2em * 0.6);
  }
  
  .svg-wrapper {
    font-size: calc(1em * 0.6);
  }

  .sidebar nav ul li a img,
  .sidebar .bottom-link a img {
    max-width: calc(32px * 0.6);
    max-height: calc(32px * 0.6);
  }

  div[id]:not(#animeStats, #mangaStats, #socialStats, #arrow, #animeStats img, #mangaStats img, #socialStats img) {
    width: calc(331.2px * 0.6)!important;
    height: calc(206.2px * 0.6)!important;
  }
  
  #animeStats,
  #mangaStats,
  #animeStats img,
  #mangaStats img {
    width: calc(461.2px * 0.6) !important;
    height: calc(206.2px * 0.6)!important;
  }
  
  #socialStats,
  #socialStats img {
    width: calc(291.2px * 0.6)!important;
    height: calc(206.2px* 0.6)!important;
  }

  #arrow img {
    height: calc(32px * 0.6);
    width: calc(32px * 0.6);
  }

  div[id] img:not(#animeStats img, #mangaStats img, #socialStats img, #arrow img) {
    width: calc(331.2px * 0.6)!important;
    height: calc(206.2px * 0.6)!important;
  }

  .sidebar {
    width: calc(64px * 0.6);
  }

  .sidebar.expanded {
    width: calc(160px * 0.6);
  }

  .sidebar nav ul li a,
  .sidebar .bottom-link a {
    padding: calc(5px * 0.6) calc(15px * 0.6);
  }

  .link-text {
    padding-left: calc(10px * 0.6);
    font-size: calc(1em * 0.6);
  }

  header {
    height: calc(42px * 0.6);
  }

  .changelog-link {
    font-size: calc(1em * 0.6);
  }

  .footer-div {
    font-size: calc(0.8em * 0.6);
  }
}

@media (width <= 400px) {
  .center-container h1 {
    font-size: calc(2.5em * 0.5);
  }

  .center-container p {
    font-size: calc(1.2em * 0.5);
  }
  
  .svg-wrapper {
    font-size: calc(1em * 0.5);
  }

  .sidebar nav ul li a img,
  .sidebar .bottom-link a img {
    max-width: calc(32px * 0.5);
    max-height: calc(32px * 0.5);
  }

  div[id]:not(#animeStats, #mangaStats, #socialStats, #arrow, #animeStats img, #mangaStats img, #socialStats img) {
    width: calc(331.2px * 0.5)!important;
    height: calc(206.2px * 0.5)!important;
  }
  
  #animeStats,
  #mangaStats,
  #animeStats img,
  #mangaStats img {
    width: calc(461.2px * 0.5) !important;
    height: calc(206.2px * 0.5)!important;
  }
  
  #socialStats,
  #socialStats img {
    width: calc(291.2px * 0.5)!important;
    height: calc(206.2px* 0.5)!important;
  }

  #arrow img {
    height: calc(32px * 0.5);
    width: calc(32px * 0.5);
  }

  div[id] img:not(#animeStats img, #mangaStats img, #socialStats img, #arrow img) {
    width: calc(331.2px * 0.5)!important;
    height: calc(206.2px * 0.5)!important;
  }

  .sidebar {
    width: calc(64px * 0.5);
  }

  .sidebar.expanded {
    width: calc(160px * 0.5);
  }

  .sidebar nav ul li a,
  .sidebar .bottom-link a {
    padding: calc(5px * 0.5) calc(15px * 0.5);
  }

  .link-text {
    padding-left: calc(10px * 0.5);
    font-size: calc(1em * 0.5);
  }

  header {
    height: calc(42px * 0.5);
  }

  .changelog-link {
    font-size: calc(1em * 0.5);
  }

  .footer-div {
    font-size: calc(0.8em * 0.5);
  }
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: auto;
}

.svg-item {
  min-width: 200px;
}

.svg-controls {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 5px;
}

.svg-item button,
.svg-item select {
  flex: 1;
  padding: 0.5em 1em;
  border: 2px solid #1f2833;
  border-radius: 5px;
  background-color: #4cb3ad;
  color: #000;
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
  max-width: 48%;
}

.svg-item button {
  margin: 0 5px;
}

.select-container {
  position: relative;
  flex: 1;
  margin: 0 5px;
  width: 100%;
  box-sizing: border-box;
}

.svg-item select {
  width: 100%;
  max-width: 100%;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  appearance: none;
}

.arrow {
  background: url("../images/dropdown-arrow.png") no-repeat;
  background-size: 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  pointer-events: none;
  z-index: 1;
  transition: transform 0.3s ease;
}

div[id]:not .arrow {
  width: 100%;
}

div[id]:not(#animeStats, #mangaStats, #socialStats, #arrow) {
  width: 331.2px;
  height: 206.2px;
  object-fit: cover;
  margin: auto;
}

#animeStats,
#mangaStats {
  width: 461.2px;
  height: 206.2px;
  margin: auto;
}

#socialStats {
  width: 291.2px;
  height: 206.2px;
  margin: auto;
}

.svg-item select:focus + .arrow {
  transform: translateY(-50%) rotate(0deg);
}

.link-button,
.download-button {
  display: inline-block;
  width: 100%;
  padding: 0.5em 1em;
  margin: 5px 0;
  background-color: #45a29e;
  color: #c5c6c7;
  border: 2px solid #1f2833;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
}

.modal-content,
.modal-content button {
  border-radius: 5px;
  color: #c5c6c7;
  font-size: 1.2em;
}

.modal-content button {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 5px 0;
  background-color: #45a29e;
  border: 2px solid #1f2833;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.svg-item button:hover,
.link-button:hover,
.download-button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
}

#color-picker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2833;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

button.svg-button {
  display: inline-block;
  min-width: 100%;
  padding: 10px;
  background: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes slideUp {
  from {
    top: 100%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2833;
  margin: auto;
  padding: 20px;
  border: 1px solid #45a29e;
  width: 80%;
  max-width: 600px;
  word-wrap: break-word;
  animation: slideUp 0.5s forwards;
}

.modal-content button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
}

.close {
  color: #c5c6c7;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #66fcf1;
  text-decoration: none;
  cursor: pointer;
}

.copy-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

#copyStatus {
  font-size: 0.8em;
  height: 18.67px;
  line-height: 18.67px;
  color: #66fcf1;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

#copyStatus.hide {
  opacity: 0;
}

.favicon {
  border: none;
}
