<!DOCTYPE html>
{% extends "templates/base.html" %} {% block headtop %}
<meta
  name="description"
  content="AniCards is a project in active development that provides statistical cards for AniList users. Navigate through different features using the sidebar."
/>
<title>AniCards Home</title>
{% endblock %} {% block headstyle %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/AniCards.css') }}"
/>
{% endblock %} {% block headscript %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "AniCards Home",
    "description": "AniCards is a project in active development that provides statistical cards for AniList users. Navigate through different features using the sidebar.",
    "url": "https://anicards.alpha49.com",
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://anicards.alpha49.com"
        }
      ]
    },
    "publisher": {
      "@type": "Person",
      "name": "Alpha49",
      "url": "https://www.alpha49.com"
    }
  }
</script>
{% endblock %} {% block content %}
<div class="main-content">
  <div class="center-container">
    <h1>Welcome to AniCards</h1>
    <p>
      This is the home page. Use the sidebar to navigate to different features.
    </p>
    <p>
      Please note that this project is in active development. There may be some
      website downtime.
    </p>
    <p>
      There may also be occasional database purges. This means that some data
      may be lost and will need to be re-entered. If you notice that images or
      SVGs have stopped working, you may need to regenerate them.
    </p>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='scripts/sidebarExpanded.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/sidebarHover.js') }}"></script>
{% endblock %}
