<!-- htmlhint id-class-value: false -->
<!DOCTYPE html>
{% extends "templates/base.html" %} {% block headtop %}
<meta
  name="description"
  content="AniList Badge Generator: Create custom badges with user data from AniList."
/>
<title>AniList Badge Generator</title>
{% endblock %} {% block headstyle %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/StatCards.css') }}"
/>
<link rel="canonical" href="https://anicards.alpha49.com/Badges/" />
{% endblock %} {% block headscript %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "AniList Badge Generator",
    "description": "AniList Badges Generator: Create custom badges with user data from AniList.",
    "url": "https://anicards.alpha49.com/Badges/",
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://anicards.alpha49.com"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Stat Cards",
          "item": "https://anicards.alpha49.com/Badges/"
        }
      ]
    },
    "publisher": {
      "@type": "Person",
      "name": "Alpha49",
      "url": "https://www.alpha49.com",
      "logo": {
        "@type": "ImageObject",
        "url": "https://anicards.alpha49.com/static/images/favicon.png"
      }
    },
    "mainEntity": {
      "@type": "SoftwareApplication",
      "name": "AniList Badge Generator",
      "applicationCategory": "DesignApplication",
      "operatingSystem": "Web",
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD"
      }
    }
  }
</script>
{% endblock %} {% block content %}
<div class="content-footer">
  <div class="main-content">
    <div class="center-container">
      <h1>AniList Badge Generator</h1>
      <p>
        This application creates completionist badges. Enter a username
        and milestone below to get started.
      </p>
      <input
        type="text"
        id="usernameInput"
        placeholder="Enter username"
      />
      <input
        type="text"
        id="milestoneInput"
        placeholder="Enter milestone"
      />

      <form
        id="colorForm"
        action="/username/generate_svgs"
        method="post"
      >
        <h2>Color Selection</h2>
        <p>If a color is not changed, it will not be affected.</p>
        <!-- Color picker inputs -->
        <label>
          <span>Main Color:</span>
          <input type="color" id="color1" name="colors" />
        </label>
        <label>
          <span>Accent Color:</span>
          <input type="color" id="color2" name="colors" />
        </label>
      </form>

      <!-- Checkboxes for selecting types -->
      <form
        id="dataForm"
        action="/username/generate_svgs"
        method="post"
      >
        <div id="formLabelWrapper">
          <label id="formLabel">Badge Types</label>
          <div id="selectAll" onclick="selectAllCheckboxes()">
            <span>Select All</span>
          </div>
        </div>
        <div>
          <label>
            <input
              type="checkbox"
              id="animeCompleted"
              name="keys"
              value="animeCompleted"
            />
            <span>Anime Completed</span>
          </label>
          <label>
            <input
              type="checkbox"
              id="episodesWatched"
              name="keys"
              value="episodesWatched"
            />
            <span>Episodes Watched</span>
          </label>
          <label>
            <input
              type="checkbox"
              id="mangaCompleted"
              name="keys"
              value="mangaCompleted"
            />
            <span>Manga Completed</span>
          </label>
          <label>
            <input
              type="checkbox"
              id="chaptersRead"
              name="keys"
              value="chaptersRead"
            />
            <span>Chapters Read</span>
          </label>

          <!-- Hidden inputs for color data -->
          <input type="hidden" id="hiddenColor1" name="colors" />
          <input type="hidden" id="hiddenColor2" name="colors" />
        </div>
        <input
          type="submit"
          value="Generate SVGs"
          style="display: none"
        />
        <!-- Hide the original submit button -->
      </form>

      <button onclick="validateForm()">
        Generate/ReGenerate Stat Cards
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  // Allows for pressing enter to submit the form in the username text field
  var milestoneInput = document.getElementById("milestoneInput");
  milestoneInput.addEventListener("keypress", function (event) {
    var key = event.which || event.keyCode;
    if (key === 13) {
      validateForm();
      event.preventDefault();
    }
  });
  var usernameInput = document.getElementById("usernameInput");
  usernameInput.addEventListener("keypress", function (event) {
    var key = event.which || event.keyCode;
    if (key === 13) {
      validateForm();
      event.preventDefault();
    }
  });
</script>
<script src="{{ url_for('static', filename='scripts/sidebarExpanded.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/sidebarHover.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/fetchUserData.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/validateForm.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/selectAll.js') }}"></script>
{% endblock %}
