<!DOCTYPE html>
{% extends "templates/base.html" %} {% block headtop %}
<meta
  name="description"
  content="AniCards Error Page: This page displays error messages related to the AniCards application. Navigate back to Home or Stat Cards from the sidebar."
/>
<title>AniCards Error</title>
{% endblock %} {% block headstyle %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/AniCards.css') }}"
/>
{% endblock %} {% block headscript %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "AniCards Error",
    "description": "An error occurred while trying to access this page. Please try again later.",
    "url": "{{ request.url }}"
  }
</script>
{% endblock %} {% block content %}
<div class="main-content">
  <div class="center-container">
    <h1>Error</h1>
    <p>{{ error }}</p>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='scripts/sidebarExpanded.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/sidebarHover.js') }}"></script>
{% endblock %}
