<svg xmlns="http://www.w3.org/2000/svg" width="450" height="195" viewBox="0 0 450 195" fill="none" role="img" aria-labelledby="descId">
    <title id="titleId">{username}'s Social Stats</title>
    <desc id="descId">Total Followers: {totalFollowers}, Total Following: {totalFollowing}, Total Activity: {totalActivity}, Thread Posts/Comments Count: {threadPostsCommentsCount}</desc>
    <defs>
        <!-- Styles will be inserted here by the inline_styles function -->
    </defs>
    <rect data-testid="card-bg" x="0.5" y="0.5" rx="4.5" height="99%" stroke="#e4e2e2" width="449" fill="#141321" stroke-opacity="1"/>
    <g data-testid="card-title" transform="translate(25, 35)">
        <g transform="translate(0, 0)">
            <text x="0" y="0" class="header" data-testid="header">{username}'s Social Stats</text>
        </g>
    </g>
    <g data-testid="main-card-body" transform="translate(0, 55)">
        <g transform="translate(0, 0)">
            <g class="stagger" style="animation-delay: 450ms" transform="translate(25, 0)">
                <text class="stat bold" y="12.5">Total Followers:</text>
                <text class="stat bold" x="199.01" y="12.5" data-testid="totalFollowers">{totalFollowers}</text>
            </g>
            <g class="stagger" style="animation-delay: 600ms" transform="translate(25, 25)">
                <text class="stat bold" y="12.5">Total Following:</text>
                <text class="stat bold" x="199.01" y="12.5" data-testid="totalFollowing">{totalFollowing}</text>
            </g>
            <g class="stagger" style="animation-delay: 750ms" transform="translate(25, 50)">
                <text class="stat bold" y="12.5">Total Activity (30 Days):</text>
                <text class="stat bold" x="199.01" y="12.5" data-testid="totalActivity">{totalActivity}</text>
            </g>
            <g class="stagger" style="animation-delay: 900ms" transform="translate(25, 75)">
                <text class="stat bold" y="12.5">Thread Posts/Comments:</text>
                <text class="stat bold" x="199.01" y="12.5" data-testid="threadPostsCommentsCount">{threadPostsCommentsCount}</text>
            </g>
        </g>
    </g>
    <script xmlns=""/>
</svg>